# 편의점

# GS25

In [154]:
import requests
from bs4 import BeautifulSoup as BS
import pickle
r = requests.get("http://gs25.gsretail.com/gscvs/ko/store-services/locations")

In [155]:
payload = {"pageNum": "1", 
"pageSize": "100", 
"searchShopName": "", 
"searchSido": "", 
"searchGugun": "", 
"searchDong": "", 
"searchType": "", 
"searchTypeService": "0", 
"searchTypeToto": "0", 
"searchTypeCafe25": "0", 
"searchTypeInstant": "0", 
"searchTypeDrug": "0", 
"searchTypeSelf25": "0", 
"searchTypePost": "0", 
"searchTypeATM": "0", 
"searchTypeWithdrawal": "0", 
"searchTypeTaxrefund": "0", 
"searchTypeSmartAtm": "0", 
"searchTypeSelfCookingUtensils": "0", 
"searchTypeDeliveryService": "0", 
"searchTypeParcelService": "0", 
"searchTypePotatoes": "0", 
"searchTypeCardiacDefi": "0", 
"searchTypeFishShapedBun": "0", 
"searchTypeWine25": "0"}

total = []
with requests.Session() as s:
    r = s.get("http://gs25.gsretail.com/gscvs/ko/store-services/locations")
    bs = BS(r.text)
    token = bs.find("input", {'name': "CSRFToken"})['value']
    #print(bs.find("input", {'name': "CSRFToken"}))
    target = f"http://gs25.gsretail.com/gscvs/ko/store-services/locationList?CSRFToken={token}"
    for x in range(1, 175):
        if x % 10 == 0: print(x)
        payload['pageNum'] = x
        r2 = s.post(target, data=payload)
        total.append(pd.DataFrame(eval(r2.json())['results']))

print("all done")

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
all done

In [156]:
gs25 = pd.concat(total)

In [157]:
with open("./gs25_prac.pkl", 'wb') as f:
    pickle.dump(gs25, f)

In [179]:
gs25

,offeringService,shopCode,longs,address,shopName,lat
0,"[toto, cafe25, post, withdrawal, parcel_service]",V3414,37.51826292,"경기 부천시 오정구 석천로345, 300동 114호(삼정동 365)",GS252테크노파크점,126.76388845
1,"[cafe25, drug, post, atm, withdrawal, smart_at...",VX815,38.00414846,"강원 양양군 현북면 동해대로1242, 38선휴게소 (잔교리 41-10, 38휴게소)",GS2538선휴게소점,128.73283627
2,"[post, parcel_service]",VQ037,37.52831065,"서울 양천구 목동서로159-1 (목1동 917-1, CBS방송국1층)",GS25CBS점,126.87486792
3,"[cafe25, potatoes, fish_shaped_bun]",V7W76,36.44932895,"대전 대덕구 대덕대로1447번길39, 1층 (문평동 140)",GS25CJ대전HUB점,127.40708036
4,NaN,V6Z47,37.69488283,"경기 고양시 일산동구 성현로615 (사리현동 151-1, CJ대한통운)",GS25CJ덕양SUB점,126.84958684
...,...,...,...,...,...,...
81,NaN,V1880,37.56433789,"서울 성동구 왕십리로지하 374, 207-02호 (하왕십리동 946-14, 상왕십리역)",S2상왕십리역점,127.02961475
82,NaN,V1882,37.50287602,"서울 동작구 현충로257, 431-02호 (동작동 327-1)",S4동작역점,126.9802623
83,"[drug, post, withdrawal, tax, parcel_service]",VW993,37.59431984,"서울 동대문구 경희대로23, 문화복지시설 101호 (회기동 1-5, 전면플라자)",경희프라자점,127.05231488
84,NaN,V1355,37.50208899,서울 강남구 논현로508 (역삼동 679),나만의냉장고,127.03678844
85,NaN,V9A20,37.2775307,"경기 이천시 부발읍 죽당로286-90, 제이영상촬영소 (죽당리 98-11)",샛별이PPL점,127.52197076

In [178]:
gs25.columns

Index(['offeringService', 'shopCode', 'longs', 'address', 'shopName', 'lat'], dtype='object')

In [181]:
gs25df = gs25[['shopName', 'address', 'offeringService', 'shopCode', 'longs', 'lat']].copy()

In [182]:
gs25df

,shopName,address,offeringService,shopCode,longs,lat
0,GS252테크노파크점,"경기 부천시 오정구 석천로345, 300동 114호(삼정동 365)","[toto, cafe25, post, withdrawal, parcel_service]",V3414,37.51826292,126.76388845
1,GS2538선휴게소점,"강원 양양군 현북면 동해대로1242, 38선휴게소 (잔교리 41-10, 38휴게소)","[cafe25, drug, post, atm, withdrawal, smart_at...",VX815,38.00414846,128.73283627
2,GS25CBS점,"서울 양천구 목동서로159-1 (목1동 917-1, CBS방송국1층)","[post, parcel_service]",VQ037,37.52831065,126.87486792
3,GS25CJ대전HUB점,"대전 대덕구 대덕대로1447번길39, 1층 (문평동 140)","[cafe25, potatoes, fish_shaped_bun]",V7W76,36.44932895,127.40708036
4,GS25CJ덕양SUB점,"경기 고양시 일산동구 성현로615 (사리현동 151-1, CJ대한통운)",NaN,V6Z47,37.69488283,126.84958684
...,...,...,...,...,...,...
81,S2상왕십리역점,"서울 성동구 왕십리로지하 374, 207-02호 (하왕십리동 946-14, 상왕십리역)",NaN,V1880,37.56433789,127.02961475
82,S4동작역점,"서울 동작구 현충로257, 431-02호 (동작동 327-1)",NaN,V1882,37.50287602,126.9802623
83,경희프라자점,"서울 동대문구 경희대로23, 문화복지시설 101호 (회기동 1-5, 전면플라자)","[drug, post, withdrawal, tax, parcel_service]",VW993,37.59431984,127.05231488
84,나만의냉장고,서울 강남구 논현로508 (역삼동 679),NaN,V1355,37.50208899,127.03678844
85,샛별이PPL점,"경기 이천시 부발읍 죽당로286-90, 제이영상촬영소 (죽당리 98-11)",NaN,V9A20,37.2775307,127.52197076

In [185]:
gs25df['company'] = 'GS25'

In [207]:
gs25df = gs25df[['company', 'shopName', 'sido', 'address', 'offeringService', 'shopCode',
       'longs', 'lat']].copy()

In [208]:
gs25df.columns

Index(['company', 'shopName', 'sido', 'address', 'offeringService', 'shopCode',
       'longs', 'lat'],
      dtype='object')

In [197]:
# 시도 추출
gs25df['sido'] = gs25df.address.apply(lambda x : x.split()[0])

In [209]:
gs25df.sido.value_counts()

sido
경기       4784
서울       3186
경남       1066
인천        972
부산        960
경북        869
충남        836
강원        696
대구        679
충북        571
전북        517
전남        489
대전        484
제주        426
광주        400
울산        340
세종        108
제주특별자       2
부산광역시       1
Name: count, dtype: int64

In [ ]:
change_dict = {'서울':"서울특별시", '경기':"경기도", '인천':"인천광역시", '강원':"강원도", '충북':"충청북도", '충남':"충청남도", '대전':"대전광역시", '경북':"경상북도", '경남':"경상남도", '대구':"대구광역시", '울산':"울산광역시", '부산':"부산광역시", '전북':"전라북도", '전남':"전라남도", '광주':"광주광역시", '제주':"제주특별자치도", '세종':"세종특별자치시"}

for key, value in change_dict.items():
  u_df['sido'] = u_df['sido'].apply(lambda x: value if key in x else x)

# CU

In [5]:
import pickle
import pandas as pd
import numpy as np

In [6]:
with open("./cu.pkl",'rb') as f:
    cu_df = pickle.load(f)

In [7]:
cu_df.shape

(19550, 4)

In [9]:
cu_df[cu_df['store_name'].duplicated()].head(3)

,store_name,store_tel,store_address,store_service
67,고양내유점,,"경기도 고양시 덕양구 유산길 22, (내유동)","[hour, delivery, fried, coffee, cash]"
68,내유무지개점,031,"경기도 고양시 덕양구 유산길 46, (내유동) 1층","[hour, delivery, fried, coffee, cash]"
69,내유희망점,0319625273,"경기도 고양시 덕양구 내유길 81, (내유동) 1층 101,102,103호","[hour, delivery, bakery, fried, coffee, cash]"

In [29]:
cu_df[cu_df.store_name == '고양내유점']

,store_name,store_tel,store_address,store_service
56,고양내유점,,"경기도 고양시 덕양구 유산길 22, (내유동)","[hour, delivery, fried, coffee, cash]"
67,고양내유점,,"경기도 고양시 덕양구 유산길 22, (내유동)","[hour, delivery, fried, coffee, cash]"

In [30]:
cu_df.store_service.loc[0]

['hour', 'delivery', 'fried', 'coffee', 'cash']

In [31]:
unique_cu = cu_df[~cu_df['store_name'].duplicated()].copy()

In [32]:
unique_cu.shape

(17633, 4)

In [33]:
unique_cu.isnull().sum

<bound method DataFrame.sum of        store_name  store_tel  store_address  store_service
0           False      False          False          False
1           False      False          False          False
2           False      False          False          False
3           False      False          False          False
4           False      False          False          False
...           ...        ...            ...            ...
19545       False      False          False          False
19546       False      False          False          False
19547       False      False          False          False
19548       False      False          False          False
19549       False      False          False          False

[17633 rows x 4 columns]>

In [34]:
unique_cu['sido'] = unique_cu.store_address.apply(lambda x : x.split()[0])

In [35]:
len(unique_cu.groupby('sido'))

37

In [36]:
unique_cu.value_counts('sido')

sido
경기도        4770
서울특별시      2859
경상남도       1208
부산광역시      1000
충청남도        922
인천광역시       915
경상북도        905
강원도         824
충청북도        683
제주특별자치도     618
대구광역시       606
전라북도        574
전라남도        515
대전광역시       427
광주광역시       403
울산광역시       370
경남            5
전북특별자치도       4
경북            2
충북            2
대구시           2
서울시           2
전남            2
서울            2
경기            1
광주            1
대구            1
부산광영시         1
부산시           1
아산시           1
부산            1
울산시           1
인천            1
인천광영시         1
충천남도          1
충청남남          1
포천시           1
Name: count, dtype: int64

In [37]:
tmp = set()

In [38]:
service_set = set()
unique_cu['store_service'].apply(lambda x : [service_set.add(y) for y in x])

0              [None, None, None, None, None]
1                          [None, None, None]
2                    [None, None, None, None]
3                    [None, None, None, None]
4                    [None, None, None, None]
                         ...
19545                [None, None, None, None]
19546    [None, None, None, None, None, None]
19547    [None, None, None, None, None, None]
19548          [None, None, None, None, None]
19549                      [None, None, None]
Name: store_service, Length: 17633, dtype: object

In [39]:
service_set

{'bakery',
 'battery',
 'cash',
 'coffee',
 'delivery',
 'fried',
 'hour',
 'lotto',
 'mix',
 'pos',
 'toto'}

In [84]:
unique_cu['bakery'] = unique_cu.store_service.apply(lambda x : True if 'bakery' in x else False)

In [93]:
for service in service_set:
    print(service)
    unique_cu[service] = unique_cu.store_service.apply(lambda x : True if service in x else False)

cash
pos
bakery
fried
lotto
delivery
toto
battery
mix
coffee
hour

In [90]:
unique_cu.delivery.sum()

14533

In [91]:
unique_cu.value_counts('hour', normalize=True)

hour
True     0.832757
False    0.167243
Name: proportion, dtype: float64

,store_name,store_tel,store_address,store_service,sido,bakery,cash,pos,fried,lotto,delivery,toto,battery,mix,coffee,hour
0,가평군청점,0315817570,"경기도 가평군 가평읍 석봉로 175, (읍내리) 1호","[hour, delivery, fried, coffee, cash]",경기도,False,True,False,True,False,True,False,False,False,True,True
1,가평레일파크점,,경기도 가평군 가평읍 연인길 2 (읍내리),"[delivery, coffee, pos]",경기도,False,False,True,False,False,True,False,False,False,True,False
2,가평본점,,경기도 가평군 가화로 110-1 (가평읍) 1층,"[hour, delivery, coffee, cash]",경기도,False,True,False,False,False,True,False,False,False,True,True
3,가평센타점,0315817470,경기도 가평군 가평읍 오리나무길 9 1층,"[hour, delivery, coffee, cash]",경기도,False,True,False,False,False,True,False,False,False,True,True
4,가평오렌지점,,"경기도 가평군 가평읍 가화로 174, (읍내리)","[hour, delivery, coffee, cash]",경기도,False,True,False,False,False,True,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19545,울산학산옥교점,,울산광역시 중구 옥교3길 76 (학산동),"[hour, delivery, fried, coffee]",울산광역시,False,False,False,True,False,True,False,False,False,True,True
19546,울산학성점,0522971245,"울산광역시 중구 학성4길 65, (학성동)","[hour, delivery, bakery, fried, coffee, cash]",울산광역시,True,True,False,True,False,True,False,False,False,True,True
19547,울산학성중앙점,,울산광역시 중구 학성공원12길 20 (학성동),"[hour, delivery, bakery, fried, coffee, cash]",울산광역시,True,True,False,True,False,True,False,False,False,True,True
19548,학성동UBC점,0522431329,울산광역시 중구 구역전1길 37-9,"[hour, delivery, coffee, cash, battery]",울산광역시,False,True,False,False,False,True,False,True,False,True,True
19549,학성드림점,,울산광역시 중구 구교로 83,"[hour, delivery, coffee]",울산광역시,False,False,False,False,False,True,False,False,False,True,True

In [104]:
# 조건이 두개이상 들어가면 비트연산 필요 
unique_cu[(unique_cu.delivery) & (unique_cu.store_address.str.find('남부순환') > -1) \
& (unique_cu.store_address.str.find('서울') > -1)]

,store_name,store_tel,store_address,store_service,sido,bakery,cash,pos,fried,lotto,delivery,toto,battery,mix,coffee,hour
5519,대치팰리스점,,서울특별시 강남구 남부순환로 2911 청우빌딩 (대치동) 청우빌딩,"[hour, delivery, fried, coffee]",서울특별시,False,False,False,True,False,True,False,False,False,True,True
5531,매봉산점,025728558,"서울특별시 강남구 남부순환로377길 6, 도곡동 (도곡동) 180동 43호","[hour, delivery, coffee, cash]",서울특별시,False,True,False,False,False,True,False,False,False,True,True
5887,공항스타점,,"서울특별시 강서구 남부순환로11길 94, (공항동)","[hour, delivery, fried, coffee]",서울특별시,False,False,False,True,False,True,False,False,False,True,True
6051,관악예술인점,025868881,서울특별시 관악구 남부순환로260길 10,"[hour, delivery, fried, coffee, cash]",서울특별시,False,True,False,True,False,True,False,False,False,True,True
6065,관악블루점,,"서울특별시 관악구 남부순환로214길 46, (봉천동) 1층","[hour, delivery, bakery, fried, coffee, cash]",서울특별시,True,True,False,True,False,True,False,False,False,True,True
6071,관악이글점,028746003,서울특별시 관악구 남부순환로 1873 대주빌딩 1층,"[hour, delivery, coffee, cash, battery]",서울특별시,False,True,False,False,False,True,False,True,False,True,True
6085,관악하정점,,서울특별시 관악구 남부순환로 1773 (봉천동) 서울대역마에스트로 캠퍼스타운 1층 ...,"[hour, delivery, coffee]",서울특별시,False,False,False,False,False,True,False,False,False,True,True
6087,관악한울점,028738885,"서울특별시 관악구 남부순환로 1801, 벽송빌딩 (봉천동)","[hour, delivery, coffee]",서울특별시,False,False,False,False,False,True,False,False,False,True,True
6104,서울대입구역점,,서울특별시 관악구 남부순환로 1833 (봉천동),"[hour, delivery, coffee]",서울특별시,False,False,False,False,False,True,False,False,False,True,True
6105,서울대파인2호점,028755989,서울특별시 관악구 남부순환로216길 24 (봉천동) 1층,"[delivery, bakery, coffee]",서울특별시,True,False,False,False,False,True,False,False,False,True,False
6109,관악건영점,028587688,"서울특별시 관악구 남부순환로161가길 71, (신림동) 1층","[hour, delivery, coffee, cash]",서울특별시,False,True,False,False,False,True,False,False,False,True,True
6138,관악우체국점,028772644,"서울특별시 관악구 남부순환로187길 9, (신림동)","[hour, delivery, cash]",서울특별시,False,True,False,False,False,True,False,False,False,False,True
6140,관악은하점,,서울특별시 관악구 남부순환로161길 40 (신림동),"[hour, delivery, coffee]",서울특별시,False,False,False,False,False,True,False,False,False,True,True
6141,관악이레점,,서울특별시 관악구 남부순환로194길 43 (신림동),"[hour, delivery, coffee]",서울특별시,False,False,False,False,False,True,False,False,False,True,True
6143,관악진우점,028655258,"서울특별시 관악구 남부순환로 1536, (신림동) 1층","[hour, delivery, coffee, cash]",서울특별시,False,True,False,False,False,True,False,False,False,True,True
6144,관악킹점,,서울특별시 관악구 남부순환로142길 18 (신림동),"[hour, delivery, fried, coffee, cash]",서울특별시,False,True,False,True,False,True,False,False,False,True,True
6149,남부순환로점,028740577,"서울특별시 관악구 남부순환로 1680, (신림동)","[hour, delivery, coffee, pos]",서울특별시,False,False,True,False,False,True,False,False,False,True,True
6162,신림CS점,028305270,"서울특별시 관악구 남부순환로 1456, (신림동)","[hour, delivery, coffee, cash]",서울특별시,False,True,False,False,False,True,False,False,False,True,True
6172,신림역제일점,,서울특별시 관악구 남부순환로 1594-1,"[hour, delivery, coffee, cash]",서울특별시,False,True,False,False,False,True,False,False,False,True,True
6173,신림역최강점,,서울특별시 관악구 남부순환로180길 6 (신림동),"[hour, delivery, coffee, cash]",서울특별시,False,True,False,False,False,True,False,False,False,True,True
6182,신림행운점,0232814959,"서울특별시 관악구 남부순환로172길 39, (신림동) 1층","[hour, delivery, bakery, coffee, cash]",서울특별시,True,True,False,False,False,True,False,False,False,True,True
6320,개봉삼환점,,"서울특별시 구로구 남부순환로95길 54, (개봉동, 삼환아파트)","[hour, delivery, coffee]",서울특별시,False,False,False,False,False,True,False,False,False,True,True
6322,개봉남부점,,서울특별시 구로구 남부순환로97길 3 KS프리미어빌딩 (개봉동) KS프리미어빌딩,"[hour, delivery, coffee]",서울특별시,False,False,False,False,False,True,False,False,False,True,True
6461,뉴금천가산점,0109.591230,서울특별시 금천구 남부순환로112길 32 (가산동),"[hour, delivery, bakery, fried, coffee, cash]",서울특별시,True,True,False,True,False,True,False,False,False,True,True
6486,독산로하스점,,서울 금천구 남부순환로124길 17,"[hour, delivery, fried, coffee, cash]",서울,False,True,False,True,False,True,False,False,False,True,True
6501,독산푸르지오점,,서울특별시 금천구 남부순환로 1424 신림안식일교획 (독산동) 신림안식일교획 1층 ...,"[hour, delivery, fried, coffee, cash]",서울특별시,False,True,False,True,False,True,False,False,False,True,True
6892,뉴사당점,025870407,"서울특별시 동작구 남부순환로 2061, (사당동)","[hour, delivery, coffee]",서울특별시,False,False,False,False,False,True,False,False,False,True,True
7246,방배리더스빌점,0234723839,"서울특별시 서초구 남부순환로 2201, (방배동) 1층","[delivery, coffee]",서울특별시,False,False,False,False,False,True,False,False,False,True,False
7314,양재역점,,서울특별시 서초구 남부순환로 2567 (서초동) 1층 104호,"[hour, delivery, coffee]",서울특별시,False,False,False,False,False,True,False,False,False,True,True
7317,효령로점,025981727,"서울특별시 서초구 남부순환로315길 100, (서초동)","[hour, delivery, fried, coffee]",서울특별시,False,False,False,True,False,True,False,False,False,True,True
7790,목동아이파크점,,서울특별시 양천구 남부순환로79길 21 (신월동),"[hour, delivery, fried, coffee, cash]",서울특별시,False,True,False,True,False,True,False,False,False,True,True
7791,서서울호수공원점,0226068092,"서울특별시 양천구 남부순환로 432, (신월동) 1층","[hour, delivery, coffee, cash]",서울특별시,False,True,False,False,False,True,False,False,False,True,True
7792,신월1호점,,서울특별시 양천구 남부순환로59길 5 (신월동),"[hour, delivery, fried, coffee, cash]",서울특별시,False,True,False,True,False,True,False,False,False,True,True
7795,신월광영점,0226075850,"서울특별시 양천구 남부순환로 310, (신월동)","[hour, delivery, coffee]",서울특별시,False,False,False,False,False,True,False,False,False,True,True
7802,신월양서점,0226025537,서울특별시 양천구 남부순환로52길 19 (신월동),"[hour, delivery, fried, coffee, cash, pos]",서울특별시,False,True,True,True,False,True,False,False,False,True,True
7814,신정하이빌점,07041358821,서울특별시 양천구 남부순환로88길 14,"[hour, delivery, bakery, fried, coffee]",서울특별시,True,False,False,True,False,True,False,False,False,True,True

In [107]:
unique_cu.drop(['store_service'], axis=1, inplace=True)

KeyError: "['store_service'] not found in axis"

In [109]:
unique_cu

,store_name,store_tel,store_address,sido,bakery,cash,pos,fried,lotto,delivery,toto,battery,mix,coffee,hour
0,가평군청점,0315817570,"경기도 가평군 가평읍 석봉로 175, (읍내리) 1호",경기도,False,True,False,True,False,True,False,False,False,True,True
1,가평레일파크점,,경기도 가평군 가평읍 연인길 2 (읍내리),경기도,False,False,True,False,False,True,False,False,False,True,False
2,가평본점,,경기도 가평군 가화로 110-1 (가평읍) 1층,경기도,False,True,False,False,False,True,False,False,False,True,True
3,가평센타점,0315817470,경기도 가평군 가평읍 오리나무길 9 1층,경기도,False,True,False,False,False,True,False,False,False,True,True
4,가평오렌지점,,"경기도 가평군 가평읍 가화로 174, (읍내리)",경기도,False,True,False,False,False,True,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19545,울산학산옥교점,,울산광역시 중구 옥교3길 76 (학산동),울산광역시,False,False,False,True,False,True,False,False,False,True,True
19546,울산학성점,0522971245,"울산광역시 중구 학성4길 65, (학성동)",울산광역시,True,True,False,True,False,True,False,False,False,True,True
19547,울산학성중앙점,,울산광역시 중구 학성공원12길 20 (학성동),울산광역시,True,True,False,True,False,True,False,False,False,True,True
19548,학성동UBC점,0522431329,울산광역시 중구 구역전1길 37-9,울산광역시,False,True,False,False,False,True,False,True,False,True,True
19549,학성드림점,,울산광역시 중구 구교로 83,울산광역시,False,False,False,False,False,True,False,False,False,True,True

In [110]:
pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.29-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 15.6 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: typing-extensions>=4.6.0 in /home/swp/.local/lib/python3.10/site-packages (from sqlalchemy) (4.10.0)
Collecting greenlet!=0.4.17
  Downloading greenlet-3.0.3-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (616 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 616.0/616.0 KB 18.7 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 sqlalchemy-2.0.29
Note: you may need to restart the kernel to use updated packages.

In [117]:
import sqlalchemy
from urllib import parse

user = 'swp'
password = 'swp1'
host = '192.168.90.140'
port = 3306
database = 'encore'
password = parse.quote_plus(password)
engine = sqlalchemy.create_engine(f"mysql://{user}:{password}@{host}:{port}/{database}")

In [118]:
unique_cu.to_sql('cu', index=False, if_exists="append", con=engine)

17633

In [119]:
import os
os.getcwd()

'/home/swp/workspace'

# 세븐일레븐

In [23]:
import pickle
import pandas as pd
import numpy as np

In [24]:
with open("./seven_stores.pkl", 'rb') as f:
    seven_df = pickle.load(f)

In [25]:
seven_df.able_services

0                                [의약품, 무인택배접수, 페덱스서비스, 시디]
1                                         [무인택배접수, 페덱스서비스]
2                    [24시간, 카페, 의약품, 무인택배접수, 페덱스서비스, 스마트픽]
3                                         [무인택배접수, 페덱스서비스]
4                               [무인택배접수, 페덱스서비스, 소프트아이스크림]
                               ...
12867                                     [무인택배접수, 페덱스서비스]
12868                                     [무인택배접수, 페덱스서비스]
12869    [24시간, 카페, 치킨, 의약품, 예약주문, 무인택배접수, 페덱스서비스, 시디, ...
12870                                     [무인택배접수, 페덱스서비스]
12871                                     [무인택배접수, 페덱스서비스]
Name: able_services, Length: 12872, dtype: object

In [40]:
seven_serveset = set()
seven_df['able_services'].apply(lambda x : [seven_serveset.add(y) for y in x])

0                                 [None, None, None, None]
1                                             [None, None]
2                     [None, None, None, None, None, None]
3                                             [None, None]
4                                       [None, None, None]
                               ...
12867                                         [None, None]
12868                                         [None, None]
12869    [None, None, None, None, None, None, None, Non...
12870                                         [None, None]
12871                                         [None, None]
Name: able_services, Length: 12872, dtype: object

In [45]:
seven_serveset

{'24시간',
 'ATM',
 '고구마·붕어빵',
 '무인락커',
 '무인택배접수',
 '베이커리',
 '소프트아이스크림',
 '스마트픽',
 '시디',
 '예약주문',
 '의약품',
 '치킨',
 '카페',
 '토토',
 '페덱스서비스'}

In [50]:
seven_df[seven_df.name.str.find("시그니처") > -1]

,name,address,able_services
3122,시그니처3호점,"경기도 의왕시 고산로 56 연구동 지하1층(고천동, 롯데첨단소재)","[24시간, 카페, 무인택배접수, 페덱스서비스]"
9420,시그니처2호점,"서울특별시 중구 소월로 3 1층(남창동, 롯데손해보험빌딩)","[24시간, 카페, 의약품, 무인택배접수, ATM, 페덱스서비스]"
9421,시그니처타워점,"서울특별시 중구 청계천로 100 지하 1층(수표동, 시그니쳐타워)","[카페, 무인택배접수, 페덱스서비스]"
9521,시그니처4호점,울산광역시 남구 삼산로 204(달동),"[24시간, 카페, 의약품, 무인택배접수, ATM, 페덱스서비스, 스마트픽]"
11245,전주시그니처점,"전라북도 전주시 덕진구 백제대로 838, 1층 101, 102호","[무인택배접수, 페덱스서비스]"
11985,시그니처탕정점,충청남도 아산시 탕정면 탕정로93번길 3-19,"[무인택배접수, 페덱스서비스]"

In [51]:
seven_df.able_services.apply(lambda x : 1 if '24시간' in x else 0)

0        0
1        0
2        1
3        0
4        0
        ..
12867    0
12868    0
12869    1
12870    0
12871    0
Name: able_services, Length: 12872, dtype: int64

In [52]:
for service in seven_serveset:
    seven_df[service] = seven_df.able_services.apply(lambda x : 1 if service in x else 0)

In [57]:
seven_df

,name,address,able_services,무인락커,소프트아이스크림,치킨,ATM,무인택배접수,고구마·붕어빵,페덱스서비스,베이커리,예약주문,의약품,24시간,토토,카페,시디,스마트픽
0,강릉5주공점,강원도 강릉시 월대산로 43,"[의약품, 무인택배접수, 페덱스서비스, 시디]",0,0,0,0,1,0,1,0,0,1,0,0,0,1,0
1,강릉강문스타점,강원도 강릉시 창해로350번길 21 (강문동),"[무인택배접수, 페덱스서비스]",0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
2,강릉강문점,"강원도 강릉시 해안로 298-7 B블록 101호, 102호(강문동)","[24시간, 카페, 의약품, 무인택배접수, 페덱스서비스, 스마트픽]",0,0,0,0,1,0,1,0,0,1,1,0,1,0,1
3,강릉강변로점,강원도 강릉시 강변로 262,"[무인택배접수, 페덱스서비스]",0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
4,강릉경포그린점,"강원도 강릉시 경포로463번길 37, 제2호","[무인택배접수, 페덱스서비스, 소프트아이스크림]",0,1,0,0,1,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12867,충주터미널점,충청북도 충주시 봉계1길 49,"[무인택배접수, 페덱스서비스]",0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
12868,충주푸르지오점,"충청북도 충주시 봉계8길 2 , 1층","[무인택배접수, 페덱스서비스]",0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
12869,충주호암점,충청북도 충주시 호암중앙2로 32 101호(호암동),"[24시간, 카페, 치킨, 의약품, 예약주문, 무인택배접수, 페덱스서비스, 시디, ...",0,0,1,0,1,0,1,0,1,1,1,0,1,1,1
12870,충주호암LH점,충청북도 충주시 호암수청2로 56,"[무인택배접수, 페덱스서비스]",0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
12871,충주힐스테이트점,"충청북도 충주시 호암수청1로 29 (호암동, LH힐스테이트)","[무인택배접수, 페덱스서비스]",0,0,0,0,1,0,1,0,0,0,0,0,0,0,0

In [58]:
seven_df.의약품.sum()

4988

In [61]:
# 비율 보고 싶다
seven_df.의약품.value_counts(normalize=True)

의약품
0    0.612492
1    0.387508
Name: proportion, dtype: float64

In [64]:
# 컬럼 지우기
seven_df.drop(['able_services'], axis=1)

,name,address,무인락커,소프트아이스크림,치킨,ATM,무인택배접수,고구마·붕어빵,페덱스서비스,베이커리,예약주문,의약품,24시간,토토,카페,시디,스마트픽
0,강릉5주공점,강원도 강릉시 월대산로 43,0,0,0,0,1,0,1,0,0,1,0,0,0,1,0
1,강릉강문스타점,강원도 강릉시 창해로350번길 21 (강문동),0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
2,강릉강문점,"강원도 강릉시 해안로 298-7 B블록 101호, 102호(강문동)",0,0,0,0,1,0,1,0,0,1,1,0,1,0,1
3,강릉강변로점,강원도 강릉시 강변로 262,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
4,강릉경포그린점,"강원도 강릉시 경포로463번길 37, 제2호",0,1,0,0,1,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12867,충주터미널점,충청북도 충주시 봉계1길 49,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
12868,충주푸르지오점,"충청북도 충주시 봉계8길 2 , 1층",0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
12869,충주호암점,충청북도 충주시 호암중앙2로 32 101호(호암동),0,0,1,0,1,0,1,0,1,1,1,0,1,1,1
12870,충주호암LH점,충청북도 충주시 호암수청2로 56,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
12871,충주힐스테이트점,"충청북도 충주시 호암수청1로 29 (호암동, LH힐스테이트)",0,0,0,0,1,0,1,0,0,0,0,0,0,0,0

In [66]:
# 적용
seven_df.drop(['able_services'], axis=1, inplace=True)

In [71]:
# seven_df.drop_duplicates
seven_df[~seven_df.name.duplicated()]

,name,address,무인락커,소프트아이스크림,치킨,ATM,무인택배접수,고구마·붕어빵,페덱스서비스,베이커리,예약주문,의약품,24시간,토토,카페,시디,스마트픽
0,강릉5주공점,강원도 강릉시 월대산로 43,0,0,0,0,1,0,1,0,0,1,0,0,0,1,0
1,강릉강문스타점,강원도 강릉시 창해로350번길 21 (강문동),0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
2,강릉강문점,"강원도 강릉시 해안로 298-7 B블록 101호, 102호(강문동)",0,0,0,0,1,0,1,0,0,1,1,0,1,0,1
3,강릉강변로점,강원도 강릉시 강변로 262,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
4,강릉경포그린점,"강원도 강릉시 경포로463번길 37, 제2호",0,1,0,0,1,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12867,충주터미널점,충청북도 충주시 봉계1길 49,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
12868,충주푸르지오점,"충청북도 충주시 봉계8길 2 , 1층",0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
12869,충주호암점,충청북도 충주시 호암중앙2로 32 101호(호암동),0,0,1,0,1,0,1,0,1,1,1,0,1,1,1
12870,충주호암LH점,충청북도 충주시 호암수청2로 56,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
12871,충주힐스테이트점,"충청북도 충주시 호암수청1로 29 (호암동, LH힐스테이트)",0,0,0,0,1,0,1,0,0,0,0,0,0,0,0

In [77]:
# 중복값 바로 삭제
seven_df.drop_duplicates().shape

(12417, 17)

In [78]:
seven_df.shape

(12872, 17)

In [79]:
# 원본 바로 적용
seven_df.drop_duplicates(inplace=True)

In [81]:
seven_df.shape

(12417, 17)

In [91]:
# 시도 추출
seven_df['sido'] = seven_df.address.apply(lambda x : x.split()[0])

In [90]:
seven_df.sido.unique()

array(['강원도', '강원특별자치도', '강원', '경기도', '경기', '경기도김포시하성면하성로297',
       '경기도시흥시복지로', '경기도이천시부발읍', '경상남도', '경남', '경남창원시', '경상북도', '경북',
       '경상북도영주시광복로', '광주광역시', '광주', '광주동구제봉로222번길', '대구광역시', '대구', '대구남구',
       '대구시달서구월배로', '대구광역시달서구상인서로', '대구달서구', '대구광역시달서구달구벌대로', '대구시',
       '대구시달성군', '대전광역시', '대전', '대전시', '대전광영시', '대전광역시유성구대학로137번길',
       '부산광역시', '부산시', '부산', '서울특별시', '서울', '서울시', '서울특별실', '서울동대문구',
       '서울트별시', '주소', '서울특별시송파구송파대로345송파헬리오시티', '울산광역시', '울산', '인천광역시',
       '인천시', '인천', '전라남도', '전남', '전라북도', '전북', '전북특별자치도', '전라북도전주시',
       '제주특별자치도', '제주', '제주도', '제주특별자치도서귀포시', '제주특별시도', '충남', '충청남도',
       '충남논산시', '충청북도', '충북'], dtype=object)

In [93]:
seven_df['sido'].value_counts()

sido
경기도            3220
서울특별시          1850
경상남도            623
충청남도            618
경상북도            565
               ...
서울동대문구            1
서울특별실             1
제주특별자치도서귀포시       1
제주특별시도            1
충남논산시             1
Name: count, Length: 63, dtype: int64

In [94]:
# 출력값을 ... 쓰지말고 다 보여줘 명령어
# pd.set_option('display.max_rows', None)

In [98]:
seven_df.loc[seven_df['sido'].str.find("서울") > -1, 'sido'] = '서울특별시'

In [106]:
seven_df.sido.value_counts()

sido
경기도                 3220
서울특별시               2046
경상남도                 623
충청남도                 618
경상북도                 565
인천광역시                563
대구광역시                541
강원도                  535
부산광역시                513
충청북도                 474
전라남도                 459
전라북도                 418
광주광역시                334
대전광역시                323
제주특별자치도              286
울산광역시                212
경기                   178
광주                    59
충남                    46
경남                    46
부산시                   41
경북                    39
대구                    34
전남                    33
인천                    31
충북                    27
부산                    26
대전                    24
강원                    19
강원특별자치도               15
전북특별자치도               14
제주                     9
울산                     8
전북                     6
인천시                    6
제주도                    3
경남창원시                  2
전라북도전주시                2
경기도시흥시복지로              1
경기도이천시부발읍              1
경기도김포시하성면하성로297        1
대구시                    1
대구광역시달서구달구벌대로          1
대구달서구                  1
대구광역시달서구상인서로           1
대구시달서구월배로              1
대구남구                   1
경상북도영주시광복로             1
광주동구제봉로222번길           1
주소                     1
대구시달성군                 1
대전광역시유성구대학로137번길       1
대전광영시                  1
대전시                    1
제주특별자치도서귀포시            1
제주특별시도                 1
충남논산시                  1
Name: count, dtype: int64

In [108]:
change_dict = {'서울':"서울특별시", '경기':"경기도", '인천':"인천광역시", '강원':"강원도", '충북':"충청북도", '충남':"충청남도", '대전':"대전광역시", '경북':"경상북도", '경남':"경상남도", '대구':"대구광역시", '울산':"울산광역시", '부산':"부산광역시", '전북':"전라북도", '전남':"전라남도", '광주':"광주광역시", '제주':"제주특별자치도", '세종':"세종특별자치시"}

for key, value in change_dict.items():
  u_df['sido'] = u_df['sido'].apply(lambda x: value if key in x else x)

In [109]:
change_dict.items()

dict_items([('서울', '서울특별시'), ('경기', '경기도'), ('인천', '인천광역시'), ('강원', '강원도'), ('충북', '충청북도'), ('충남', '충청남도'), ('대전', '대전광역시'), ('경북', '경상북도'), ('경남', '경상남도'), ('대구', '대구광역시'), ('울산', '울산광역시'), ('부산', '부산광역시'), ('전북', '전라북도'), ('전남', '전라남도'), ('광주', '광주광역시'), ('제주', '제주특별자치도'), ('세종', '세종특별자치시')])

In [126]:
for key, value in change_dict.items():
    seven_df['sido'] = seven_df['sido'].apply(lambda x : value if key in x else x)

In [ ]:
# import requests 
# r = requests.post("https://www.7-eleven.co.kr/util/storeLayerPop.asp")
# from bs4 import BeautifulSoup
# sido_name = [x.text for x in BeautifulSoup(r.text).find("select", id="storeLaySido").findAll('option')[1:]]

In [118]:
from bs4 import BeautifulSoup as BS
import requests
r = requests.post("https://www.7-eleven.co.kr/util/storeLayerPop.asp")

sido_name = [x.text for x in BS(r.text).find("select", id="storeLaySido").findAll('option')[1:]]

In [127]:
seven_df.sido.value_counts().size

19

In [130]:
seven_df.sido.unique()

array(['강원도', '경기도', '경상남도', '경상북도', '경상북도영주시광복로', '광주광역시', '대구광역시',
       '대전광역시', '부산광역시', '서울특별시', '주소', '울산광역시', '인천광역시', '전라남도', '전라북도',
       '전라북도전주시', '제주특별자치도', '충청남도', '충청북도'], dtype=object)

In [133]:
seven_df.loc[seven_df.sido == '주소', 'address'] = "서울시 서대문구 충정로7 구세군빌딩1층"
seven_df.loc[seven_df.sido == '주소', 'sido'] = "서울특별시"

In [135]:
seven_df.loc[seven_df.sido == '전라북도전주시', 'sido'] = "전라북도"
seven_df.loc[seven_df.sido == '경상북도영주시광복로', 'sido'] = "경상북도"

AttributeError: 'Series' object has no attribute 'find'

In [165]:
seven_df['company'] = 'Seven'

In [166]:
# CREAT TABLE convenience_store(
#     name VARCHAR(30) dafault not null,
#     address...
#     sido...
# )

In [167]:
seven_df.columns

Index(['name', 'address', '무인락커', '소프트아이스크림', '치킨', 'ATM', '무인택배접수', '고구마·붕어빵',
       '페덱스서비스', '베이커리', '예약주문', '의약품', '24시간', '토토', '카페', '시디', '스마트픽',
       'sido', 'company'],
      dtype='object')

In [168]:
seven_df[['company', 'name',  'sido', 'address', '무인락커', '소프트아이스크림', '치킨', 'ATM', '무인택배접수', '고구마·붕어빵',
       '페덱스서비스', '베이커리', '예약주문', '의약품', '24시간', '토토', '카페', '시디', '스마트픽']].copy()

,company,name,sido,address,무인락커,소프트아이스크림,치킨,ATM,무인택배접수,고구마·붕어빵,페덱스서비스,베이커리,예약주문,의약품,24시간,토토,카페,시디,스마트픽
0,Seven,강릉5주공점,강원도,강원도 강릉시 월대산로 43,0,0,0,0,1,0,1,0,0,1,0,0,0,1,0
1,Seven,강릉강문스타점,강원도,강원도 강릉시 창해로350번길 21 (강문동),0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
2,Seven,강릉강문점,강원도,"강원도 강릉시 해안로 298-7 B블록 101호, 102호(강문동)",0,0,0,0,1,0,1,0,0,1,1,0,1,0,1
3,Seven,강릉강변로점,강원도,강원도 강릉시 강변로 262,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
4,Seven,강릉경포그린점,강원도,"강원도 강릉시 경포로463번길 37, 제2호",0,1,0,0,1,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12867,Seven,충주터미널점,충청북도,충청북도 충주시 봉계1길 49,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
12868,Seven,충주푸르지오점,충청북도,"충청북도 충주시 봉계8길 2 , 1층",0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
12869,Seven,충주호암점,충청북도,충청북도 충주시 호암중앙2로 32 101호(호암동),0,0,1,0,1,0,1,0,1,1,1,0,1,1,1
12870,Seven,충주호암LH점,충청북도,충청북도 충주시 호암수청2로 56,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0
12871,Seven,충주힐스테이트점,충청북도,"충청북도 충주시 호암수청1로 29 (호암동, LH힐스테이트)",0,0,0,0,1,0,1,0,0,0,0,0,0,0,0

In [170]:
seven_melt = pd.melt(seven_df, id_vars=['company', 'name', 'sido', 'address'])

In [173]:
seven_melt[seven_melt.name == '강릉5주공점']

       company    name sido          address  variable value
0        Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43      무인락커     0
12417    Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43  소프트아이스크림     0
24834    Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43        치킨     0
37251    Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43       ATM     0
49668    Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43    무인택배접수     1
62085    Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43   고구마·붕어빵     0
74502    Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43    페덱스서비스     1
86919    Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43      베이커리     0
99336    Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43      예약주문     0
111753   Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43       의약품     1
124170   Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43      24시간     0
136587   Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43        토토     0
149004   Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43        카페     0
161421   Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43        시디     1
173838   Seven  강릉5주공점  강원도  강원도 강릉시 월대산로 43      스마트픽     0

In [174]:
seven_melt.columns

Index(['company', 'name', 'sido', 'address', 'variable', 'value'], dtype='object')

In [175]:
# 컬럼이름 변경
seven_melt.rename(columns={'variable' : 'service_name'}, inplace=True)

In [176]:
seven_melt

,company,name,sido,address,service_name,value
0,Seven,강릉5주공점,강원도,강원도 강릉시 월대산로 43,무인락커,0
1,Seven,강릉강문스타점,강원도,강원도 강릉시 창해로350번길 21 (강문동),무인락커,0
2,Seven,강릉강문점,강원도,"강원도 강릉시 해안로 298-7 B블록 101호, 102호(강문동)",무인락커,0
3,Seven,강릉강변로점,강원도,강원도 강릉시 강변로 262,무인락커,0
4,Seven,강릉경포그린점,강원도,"강원도 강릉시 경포로463번길 37, 제2호",무인락커,0
...,...,...,...,...,...,...
186250,Seven,충주터미널점,충청북도,충청북도 충주시 봉계1길 49,스마트픽,0
186251,Seven,충주푸르지오점,충청북도,"충청북도 충주시 봉계8길 2 , 1층",스마트픽,0
186252,Seven,충주호암점,충청북도,충청북도 충주시 호암중앙2로 32 101호(호암동),스마트픽,1
186253,Seven,충주호암LH점,충청북도,충청북도 충주시 호암수청2로 56,스마트픽,0
186254,Seven,충주힐스테이트점,충청북도,"충청북도 충주시 호암수청1로 29 (호암동, LH힐스테이트)",스마트픽,0

# 합치기

## gs

In [228]:
gs25df

,company,shopName,sido,address,offeringService,shopCode,longs,lat
0,GS25,GS252테크노파크점,경기,"경기 부천시 오정구 석천로345, 300동 114호(삼정동 365)","[toto, cafe25, post, withdrawal, parcel_service]",V3414,37.51826292,126.76388845
1,GS25,GS2538선휴게소점,강원,"강원 양양군 현북면 동해대로1242, 38선휴게소 (잔교리 41-10, 38휴게소)","[cafe25, drug, post, atm, withdrawal, smart_at...",VX815,38.00414846,128.73283627
2,GS25,GS25CBS점,서울,"서울 양천구 목동서로159-1 (목1동 917-1, CBS방송국1층)","[post, parcel_service]",VQ037,37.52831065,126.87486792
3,GS25,GS25CJ대전HUB점,대전,"대전 대덕구 대덕대로1447번길39, 1층 (문평동 140)","[cafe25, potatoes, fish_shaped_bun]",V7W76,36.44932895,127.40708036
4,GS25,GS25CJ덕양SUB점,경기,"경기 고양시 일산동구 성현로615 (사리현동 151-1, CJ대한통운)",NaN,V6Z47,37.69488283,126.84958684
...,...,...,...,...,...,...,...,...
81,GS25,S2상왕십리역점,서울,"서울 성동구 왕십리로지하 374, 207-02호 (하왕십리동 946-14, 상왕십리역)",NaN,V1880,37.56433789,127.02961475
82,GS25,S4동작역점,서울,"서울 동작구 현충로257, 431-02호 (동작동 327-1)",NaN,V1882,37.50287602,126.9802623
83,GS25,경희프라자점,서울,"서울 동대문구 경희대로23, 문화복지시설 101호 (회기동 1-5, 전면플라자)","[drug, post, withdrawal, tax, parcel_service]",VW993,37.59431984,127.05231488
84,GS25,나만의냉장고,서울,서울 강남구 논현로508 (역삼동 679),NaN,V1355,37.50208899,127.03678844
85,GS25,샛별이PPL점,경기,"경기 이천시 부발읍 죽당로286-90, 제이영상촬영소 (죽당리 98-11)",NaN,V9A20,37.2775307,127.52197076

In [193]:
# 재구조화
gs_melt = pd.melt(gs25df, id_vars=['company', 'store_name', 'sido', 'store_address'])

KeyError: "The following id_vars or value_vars are not present in the DataFrame: ['store_name', 'sido', 'store_address']"

In [184]:
unique_cu

,store_name,store_tel,store_address,store_service,sido
0,가평군청점,0315817570,"경기도 가평군 가평읍 석봉로 175, (읍내리) 1호","[hour, delivery, fried, coffee, cash]",경기도
1,가평레일파크점,,경기도 가평군 가평읍 연인길 2 (읍내리),"[delivery, coffee, pos]",경기도
2,가평본점,,경기도 가평군 가화로 110-1 (가평읍) 1층,"[hour, delivery, coffee, cash]",경기도
3,가평센타점,0315817470,경기도 가평군 가평읍 오리나무길 9 1층,"[hour, delivery, coffee, cash]",경기도
4,가평오렌지점,,"경기도 가평군 가평읍 가화로 174, (읍내리)","[hour, delivery, coffee, cash]",경기도
...,...,...,...,...,...
19545,울산학산옥교점,,울산광역시 중구 옥교3길 76 (학산동),"[hour, delivery, fried, coffee]",울산광역시
19546,울산학성점,0522971245,"울산광역시 중구 학성4길 65, (학성동)","[hour, delivery, bakery, fried, coffee, cash]",울산광역시
19547,울산학성중앙점,,울산광역시 중구 학성공원12길 20 (학성동),"[hour, delivery, bakery, fried, coffee, cash]",울산광역시
19548,학성동UBC점,0522431329,울산광역시 중구 구역전1길 37-9,"[hour, delivery, coffee, cash, battery]",울산광역시
19549,학성드림점,,울산광역시 중구 구교로 83,"[hour, delivery, coffee]",울산광역시

# 젠장 다 합쳐놨네

# mysql 연결

In [211]:
with open("./conveni_total_df.pkl", "rb") as f:
    df = pickle.load(f)

In [212]:
df.shape

(640498, 11)

In [214]:
pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Collecting pymysql
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.8/44.8 KB 1.5 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0
Note: you may need to restart the kernel to use updated packages.

In [215]:
# mysql에 직접 붙는 패키지
import pymysql

In [260]:
# DB 접속
con =pymysql.connect(host='192.168.90.140', user='swp', password='swp1', db='encore', charset='utf8')
cur = con.cursor()

In [219]:
cur.execute('show tables')

1

In [222]:
# 차원을 알려주는 명령어
df.values.ndim

2

In [223]:
df.head(2)

,brand,store_name,sido,store_tel,store_code,lat,longs,open_time,store_address,service,available
0,CU,가평군청점,경기도,0315817570,NaN,NaN,NaN,NaN,"경기도 가평군 가평읍 석봉로 175, (읍내리) 1호",coffee,True
1,CU,가평레일파크점,경기도,,NaN,NaN,NaN,NaN,경기도 가평군 가평읍 연인길 2 (읍내리),coffee,True

In [227]:
for x in df.columns:
    print(f"`{x}`")

`brand`
`store_name`
`sido`
`store_tel`
`store_code`
`lat`
`longs`
`open_time`
`store_address`
`service`
`available`

In [229]:
sql = "INSERT INTO store VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);"

In [237]:
df.store_tel = df.store_tel.replace("", None)

In [241]:
df2 = df.where(pd.notnull(df), None)

In [242]:
?df.where

Signature:
df.where(
    cond,
    other=nan,
    *,
    inplace: 'bool_t' = False,
    axis: 'Axis | None' = None,
    level: 'Level | None' = None,
) -> 'Self | None'
Docstring:
Replace values where the condition is False.

Parameters
----------
cond : bool Series/DataFrame, array-like, or callable
    Where `cond` is True, keep the original value. Where
    False, replace with corresponding value from `other`.
    If `cond` is callable, it is computed on the Series/DataFrame and
    should return boolean Series/DataFrame or array. The callable must
    not change input Series/DataFrame (though pandas doesn't check it).
other : scalar, Series/DataFrame, or callable
    Entries where `cond` is False are replaced with
    corresponding value from `other`.
    If other is callable, it is computed on the Series/DataFrame and
    should return scalar or Series/DataFrame. The callable must not
    change input Series/DataFrame (though pandas doesn't check it).
    If not specified, entries will be filled with the corresponding
    NULL value (``np.nan`` for numpy dtypes, ``pd.NA`` for extension
    dtypes).
inplace : bool, default False
    Whether to perform the operation in place on the data.
axis : int, default None
    Alignment axis if needed. For `Series` this parameter is
    unused and defaults to 0.
level : int, default None
    Alignment level if needed.

Returns
-------
Same type as caller or None if ``inplace=True``.

See Also
--------
:func:`DataFrame.mask` : Return an object of same shape as
    self.

Notes
-----
The where method is an application of the if-then idiom. For each
element in the calling DataFrame, if ``cond`` is ``True`` the
element is used; otherwise the corresponding element from the DataFrame
``other`` is used. If the axis of ``other`` does not align with axis of
``cond`` Series/DataFrame, the misaligned index positions will be filled with
False.

The signature for :func:`DataFrame.where` differs from
:func:`numpy.where`. Roughly ``df1.where(m, df2)`` is equivalent to
``np.where(m, df1, df2)``.

For further details and examples see the ``where`` documentation in
:ref:`indexing <indexing.where_mask>`.

The dtype of the object takes precedence. The fill value is casted to
the object's dtype, if this can be done losslessly.

Examples
--------
>>> s = pd.Series(range(5))
>>> s.where(s > 0)
0    NaN
1    1.0
2    2.0
3    3.0
4    4.0
dtype: float64
>>> s.mask(s > 0)
0    0.0
1    NaN
2    NaN
3    NaN
4    NaN
dtype: float64

>>> s = pd.Series(range(5))
>>> t = pd.Series([True, False])
>>> s.where(t, 99)
0     0
1    99
2    99
3    99
4    99
dtype: int64
>>> s.mask(t, 99)
0    99
1     1
2    99
3    99
4    99
dtype: int64

>>> s.where(s > 1, 10)
0    10
1    10
2    2
3    3
4    4
dtype: int64
>>> s.mask(s > 1, 10)
0     0
1     1
2    10
3    10
4    10
dtype: int64

>>> df = pd.DataFrame(np.arange(10).reshape(-1, 2), columns=['A', 'B'])
>>> df
   A  B
0  0  1
1  2  3
2  4  5
3  6  7
4  8  9
>>> m = df % 3 == 0
>>> df.where(m, -df)
   A  B
0  0 -1
1 -2  3
2 -4 -5
3  6 -7
4 -8  9
>>> df.where(m, -df) == np.where(m, df, -df)
      A     B
0  True  True
1  True  True
2  True  True
3  True  True
4  True  True
>>> df.where(m, -df) == df.mask(~m, -df)
      A     B
0  True  True
1  True  True
2  True  True
3  True  True
4  True  True
File:      ~/.local/lib/python3.10/site-packages/pandas/core/generic.py
Type:      method

In [232]:
df.iloc[0].values.tolist()

['CU',
 '가평군청점',
 '경기도',
 '0315817570',
 nan,
 nan,
 nan,
 nan,
 '경기도 가평군 가평읍 석봉로 175, (읍내리) 1호',
 'coffee',
 True]

In [245]:
df2.available = df2.available.astype(int)

In [246]:
cur.execute(sql, df2.iloc[0].values.tolist())

1

In [259]:
con.close()

In [258]:
from tqdm import tqdm

In [261]:
for idx, row in tqdm(df2.iterrows()):
    try:
        cur.execute(sql, row.tolist())
    except Exception as e:
        print(e)

640498it [12:46, 835.22it/s]

In [262]:
con.commit()

In [263]:
pd.read_sql_query("select * from store", con=con)

/tmp/ipykernel_7910/3861930869.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("select * from store", con=con)

,brand,store_name,sido,store_tel,store_code,lat,longs,open_time,store_address,service,available
0,seven,1109미)철산푸르지오점,경기도,None,None,37.4729,126.865,,경기 광명시 철산동 489-32 대우푸르지오상가 105,24시간,0
1,seven,1109미)철산푸르지오점,경기도,None,None,37.4729,126.865,,경기 광명시 철산동 489-32 대우푸르지오상가 105,ATM,0
2,seven,1109미)철산푸르지오점,경기도,None,None,37.4729,126.865,,경기 광명시 철산동 489-32 대우푸르지오상가 105,고구마·붕어빵,0
3,seven,1109미)철산푸르지오점,경기도,None,None,37.4729,126.865,,경기 광명시 철산동 489-32 대우푸르지오상가 105,무인락커,0
4,seven,1109미)철산푸르지오점,경기도,None,None,37.4729,126.865,,경기 광명시 철산동 489-32 대우푸르지오상가 105,무인택배접수,1
...,...,...,...,...,...,...,...,...,...,...,...
640493,CU,힐스테이트점,전라남도,None,None,NaN,NaN,None,전라남도 여수시 박람회길 61 엑스포힐스테이트1단지 1층 상가동,hour,1
640494,CU,힐스테이트점,전라남도,None,None,NaN,NaN,None,전라남도 여수시 박람회길 61 엑스포힐스테이트1단지 1층 상가동,lotto,0
640495,CU,힐스테이트점,전라남도,None,None,NaN,NaN,None,전라남도 여수시 박람회길 61 엑스포힐스테이트1단지 1층 상가동,mix,0
640496,CU,힐스테이트점,전라남도,None,None,NaN,NaN,None,전라남도 여수시 박람회길 61 엑스포힐스테이트1단지 1층 상가동,pos,0
640497,CU,힐스테이트점,전라남도,None,None,NaN,NaN,None,전라남도 여수시 박람회길 61 엑스포힐스테이트1단지 1층 상가동,toto,0

# 공공 데이터 크롤링

In [265]:
import requests
r = requests.get('http://apis.data.go.kr/B552584/EvCharger/getChargerInfo?serviceKey=34lIyWAciAsJlGtIZ4ltpLy2sLZDR%2BBRWvAv8RgoADNEd%2BKCgHe84XiSRUwL8JMMIubzsFW3ddjcNlhZHhvJIQ%3D%3D&pageNo=1&numOfRows=10&zcode=11')

In [268]:
# xml이 제공하는 패키지
import xml.etree.ElementTree as ET
r = requests.get('http://apis.data.go.kr/B552584/EvCharger/getChargerInfo?serviceKey=34lIyWAciAsJlGtIZ4ltpLy2sLZDR%2BBRWvAv8RgoADNEd%2BKCgHe84XiSRUwL8JMMIubzsFW3ddjcNlhZHhvJIQ%3D%3D&pageNo=1&numOfRows=10&zcode=11')
root = ET.fromstring(r.text)

In [269]:
items = root .iter('item')

In [271]:
for element in items:
    break

In [276]:
for y in element:
    print(y.tag, y.text)

statNm 암사1동 공영주차장
statId ME174003
chgerId 01
chgerType 06
addr 서울특별시 강동구 고덕로28길 36
location null
lat 37.5529087
lng 127.1372547
useTime 24시간 이용가능
busiId ME
bnm 환경부
busiNm 환경부
busiCall 1661-9408
stat 2
statUpdDt 20240410125347
lastTsdt 20240410121025
lastTedt 20240410125346
nowTsdt None
powerType None
output 50
method 단독
zcode 11
zscode 11740
kind B0
kindDetail B001
parkingFree N
note None
limitYn N
limitDetail None
delYn N
delDetail None
trafficYn N

In [ ]:
pd.DataFrame({y.tag: y.text for y in element})

In [277]:
items = root.iter('item')
pd.DataFrame([{y.tag: y.text for y in element} for element in items])

,statNm,statId,chgerId,chgerType,addr,location,lat,lng,useTime,busiId,...,zscode,kind,kindDetail,parkingFree,note,limitYn,limitDetail,delYn,delDetail,trafficYn
0,암사1동 공영주차장,ME174003,01,06,서울특별시 강동구 고덕로28길 36,null,37.5529087,127.1372547,24시간 이용가능,ME,...,11740,B0,B001,N,None,N,None,N,None,N
1,천호유수지 공영주차장,ME174004,01,06,서울특별시 강동구 선사로 70,null,37.54496550,127.12263890,24시간 이용가능,ME,...,11740,B0,B001,Y,None,N,None,N,None,N
2,천호3동 제1공영주차장,ME174005,01,06,서울특별시 강동구 진황도로29길 34,null,37.5387951,127.1333987,24시간 이용가능,ME,...,11740,B0,B001,N,None,N,None,N,None,N
3,가로공원로 지하공영주차장,ME174006,01,06,서울특별시 강서구 가로공원로 189,null,37.5372628,126.8383789,24시간 이용가능,ME,...,11500,B0,B001,N,None,N,None,N,None,N
4,곰달래문화복지센터 공영주차장,ME174007,01,06,서울특별시 강서구 강서로5길 50,null,37.5289561,126.8490887,24시간 이용가능,ME,...,11500,B0,B001,N,None,N,None,N,None,N
5,볏골공원 지하공영주차장,ME174008,01,06,서울특별시 강서구 까치산로4길 22,null,37.5419747,126.8444499,24시간 이용가능,ME,...,11500,B0,B001,N,None,N,None,N,None,N
6,화곡6-1 공영주차장,ME174009,01,06,서울특별시 강서구 우장산로 114,null,37.5530457,126.8488169,24시간 이용가능,ME,...,11500,B0,B001,N,None,N,None,N,None,N
7,신림동 제1공영주차장,ME174011,01,06,서울특별시 관악구 관천로 98,null,37.4874046,126.9235075,24시간 이용가능,ME,...,11620,B0,B001,N,None,N,None,N,None,N
8,난곡동 제1공영주차장,ME174012,01,06,서울특별시 관악구 난곡로34길 71,null,37.4722977,126.9231169,24시간 이용가능,ME,...,11620,B0,B001,Y,None,N,None,N,None,N
9,낙성대동주민센터,ME174013,01,06,서울특별시 관악구 낙성대로4가길 5,null,37.476296,126.9583876,24시간 이용가능,ME,...,11620,G0,G003,Y,None,N,None,N,None,N

In [ ]:
# 위와 같은 코드
# 위의 코드를 풀어서 설명한 것
items = root.iter('item')
total = []
for element in items:
    tmp = {} 
    for y in element:
        tmp[y.tag] = y.text
    total.append(tmp)
df2 = pd.DataFrame(total)