In [2]:
import pandas as pd
import os, glob

In [3]:
for file in glob.glob("./instacart_dataset/*.csv"):
    locals()[file.split("/")[-1].split(".")[0]] = pd.read_csv(file)
    print(file)

./instacart_dataset/aisles.csv
./instacart_dataset/departments.csv
./instacart_dataset/products.csv
./instacart_dataset/orders.csv
./instacart_dataset/order_products__prior.csv

In [53]:
products.head(2)

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7

In [8]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /root/miniconda3/lib/python3.10/site-packages (2.0.29)
Requirement already satisfied: typing-extensions>=4.6.0 in /root/miniconda3/lib/python3.10/site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /root/miniconda3/lib/python3.10/site-packages (from sqlalchemy) (3.0.3)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [40]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer,String, BigInteger, DateTime, Date

In [36]:
import sqlalchemy
from urllib import parse

user = 'swp'
password = 'swp1'
host='172.29.132.70'
port = 3306
database = 'encore'
password = parse.quote_plus(password)
engine = sqlalchemy.create_engine(f"mysql://{user}:{password}@{host}:{port}/{database}")

In [37]:
aisles.head(2)

   aisle_id                  aisle
0         1  prepared soups salads
1         2      specialty cheeses

In [38]:
# sqlalchemy의 타입에 대한 내용들을 사용하여 테이블을 만들때 수동으로 다 집어 넣을것이다
metadata = MetaData()

In [41]:
table = Table('aisles', metadata, 
      Column('aisle_id', Integer),
      Column('aisle', String(100)),
     )
metadata.create_all(engine)

InvalidRequestError: Table 'aisles' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [46]:
aisles.to_sql("aisles", if_exists='append', con=engine, index=False)

134

In [48]:
departments.head(2)

   department_id department
0              1     frozen
1              2      other

In [49]:
table = Table('departments', metadata, 
      Column('department_id', Integer),
      Column('department', String(100)),
     )
metadata.create_all(engine)

In [51]:
departments.to_sql("departments", if_exists='append', con=engine, index=False)

21

In [54]:
products.head(2)

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7

In [55]:
table = Table('products', metadata, 
      Column('product_id', Integer),
      Column('product_name', String(300)),
      Column('aisle_id', Integer),
      Column('department_id', Integer),
     )
metadata.create_all(engine)

In [56]:
products.to_sql("products", if_exists='append', con=engine, index=False)

9288

In [60]:
orders.head(2)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2352815,185282,prior,5,2,9,6
1,1414622,41949,prior,9,0,16,6

In [61]:
table = Table('orders', metadata, 
      Column('order_id', Integer),
      Column('user_id', Integer),
      Column('eval_set', String(100)),
      Column('order_number', Integer),
      Column('order_dow', Integer),
      Column('order_hour_of_day', Integer),
      Column('days_since_prior_order', Integer),
     )
metadata.create_all(engine)

InvalidRequestError: Table 'orders' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [66]:
orders.to_sql("orders", if_exists='append', con=engine, index=False)

3220

In [63]:
order_products__prior.head(2)

   order_id  product_id  add_to_cart_order  reordered
0      2581       40174                  1          0
1      2581       17461                  2          0

In [64]:
table = Table('order_products__prior', metadata, 
      Column('order_id', Integer),
      Column('product_id', Integer),
      Column('add_to_cart_order', Integer),
      Column('reordered', Integer),
     )
metadata.create_all(engine)

In [67]:
order_products__prior.to_sql("order_products__prior", if_exists='append', con=engine, index=False)

32290

In [ ]:
# orders table
# 1. 주문 건수 구하기

# 2. 구매자 수 구하기

# 3. 샘플별 주문 건수

In [69]:
orders.order_id.count()

3220

In [68]:
orders.order_id.unique().size

3220

In [71]:
orders.user_id.unique().size

3159

In [73]:
orders.user_id.duplicated().sum()

61

In [74]:
products

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7
2,11,Peach Mango Juice,31,7
3,23,Organic Turkey Burgers,49,12
4,25,Salted Caramel Lean Protein & Fiber Bar,3,19
...,...,...,...,...
9283,49677,Thick & Chunky Sloppy Joe Sauce,59,15
9284,49678,Large Chicken & Cheese Taquitos,129,1
9285,49680,All Natural Creamy Caesar Dressing,89,13
9286,49682,California Limeade,98,7
9287,49683,Cucumber Kirby,83,4