In [4]:
import pandas as pd
import numpy as np
import scipy as sc

In [6]:
상반기 = pd.read_csv("./data/상반기 주유소 판매가격.csv", encoding='cp949')
하반기 = pd.read_csv("./data/하반기 주유소 판매가격.csv", encoding='cp949')

In [7]:
주유소 = pd.concat([상반기, 하반기])

In [13]:
주유소.duplicated().sum()

0

In [270]:
# 결측치
주유소.isnull().sum()

번호       0
지역       0
상호       0
주소       0
기간       0
상표       0
셀프여부     0
고급휘발유    0
휘발유      0
경유       0
실내등유     0
dtype: int64

In [15]:
주유소.head(2)

,번호,지역,상호,주소,기간,상표,셀프여부,고급휘발유,휘발유,경유,실내등유
0,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190101,SK에너지,셀프,1673,1465,1365,0
1,A0006039,서울 강남구,(주)동하힐탑셀프주유소,서울 강남구 논현로 640,20190102,SK에너지,셀프,1673,1465,1365,0

In [273]:
주유소.groupby(['지역']).상호.count()

지역
서울 강남구     14597
서울 강동구      5897
서울 강북구      4736
서울 강서구     12572
서울 관악구      5997
서울 광진구      6450
서울 구로구      7917
서울 금천구      4738
서울 노원구      5466
서울 도봉구      6711
서울 동대문구     7996
서울 동작구      3644
서울 마포구      4051
서울 서대문구     5594
서울 서초구     13762
서울 성동구      6192
서울 성북구      8080
서울 송파구     11630
서울 양천구      9149
서울 영등포구    11667
서울 용산구      5439
서울 은평구      6199
서울 종로구      3276
서울 중구       4235
서울 중랑구      5719
Name: 상호, dtype: int64

In [53]:
주유소.groupby(['지역'], as_index=False)['상표'].value_counts()

         지역      상표  count
0    서울 강남구   SK에너지   6540
1    서울 강남구   GS칼텍스   4042
2    서울 강남구   S-OIL   2190
3    서울 강남구  현대오일뱅크   1825
4    서울 강동구   SK에너지   2552
..      ...     ...    ...
109  서울 중랑구   S-OIL   1842
110  서울 중랑구   GS칼텍스   1705
111  서울 중랑구   SK에너지   1672
112  서울 중랑구  현대오일뱅크    365
113  서울 중랑구   알뜰주유소    135

[114 rows x 3 columns]

In [65]:
집계결과 = 주유소[['지역', '상호', '상표']].drop_duplicates().groupby(['지역', '상표'])[['상표']].count().\
rename(columns={'상표':'집계'}).reset_index()

In [104]:
# ascending = 오름차순(False)
집계결과.sort_values(by=['집계'], ascending=False).groupby(['지역']).first().value_counts('상표', normalize=True)

상표
SK에너지     0.72
GS칼텍스     0.16
S-OIL     0.08
현대오일뱅크    0.04
Name: proportion, dtype: float64

In [74]:
집계결과['집계'].sum()

528

In [105]:
# 
주유소_365 = 주유소.groupby(['상호'])['번호'].count()[주유소.groupby(['상호'])['번호'].count() == 365].index

In [106]:
주유소_365

Index([' 현대오일뱅크㈜직영 구로셀프주유소', '(주)MS주유소', '(주)가재울뉴타운주유소', '(주)강서오일', '(주)기지에너지',
       '(주)남경주유소', '(주)뉴명성산업 남성주유소', '(주)대농석유 남태령주유소', '(주)대양씨앤씨 사직주유소',
       '(주)대청에너지 대청주유소',
       ...
       '현대오일뱅크(주)직영 중곡현대주유소', '현대오일뱅크(주)직영 한양주유소', '현대오일뱅크㈜직영 고대셀프주유소',
       '현대오일뱅크㈜직영 목동셀프주유소', '형산석유(주)원주유소', '홍능주유소', '화곡역주유소', '화랑대주유소',
       '화성주유소', '흥국주유소'],
      dtype='object', name='상호', length=403)

In [145]:
주유소_ = 주유소[~주유소.상호.isin(주유소_365)].copy()

In [146]:
주유소_[주유소_.기간 == 20190101].번호.unique().size

104

In [148]:
주유소_['월'] = 주유소_['기간'].apply(lambda x : str(x)[4:6])

In [149]:
주유소_

,번호,지역,상호,주소,기간,상표,셀프여부,고급휘발유,휘발유,경유,실내등유,월
1086,A0009838,서울 강남구,GS칼텍스(주)직영 산성주유소,서울 강남구 헌릉로 730 (세곡동),20190101,GS칼텍스,셀프,0,1458,1319,0,01
1087,A0009838,서울 강남구,GS칼텍스(주)직영 산성주유소,서울 강남구 헌릉로 730 (세곡동),20190102,GS칼텍스,셀프,0,1458,1319,0,01
1088,A0009838,서울 강남구,GS칼텍스(주)직영 산성주유소,서울 강남구 헌릉로 730 (세곡동),20190103,GS칼텍스,셀프,0,1458,1319,0,01
1089,A0009838,서울 강남구,GS칼텍스(주)직영 산성주유소,서울 강남구 헌릉로 730 (세곡동),20190104,GS칼텍스,셀프,0,1438,1298,0,01
1090,A0009838,서울 강남구,GS칼텍스(주)직영 산성주유소,서울 강남구 헌릉로 730 (세곡동),20190105,GS칼텍스,셀프,0,1398,1298,0,01
...,...,...,...,...,...,...,...,...,...,...,...,...
90383,A0009138,서울 중랑구,우림주유소,서울 중랑구 용마산로 487 (망우동),20191227,GS칼텍스,셀프,0,1535,1355,0,12
90384,A0009138,서울 중랑구,우림주유소,서울 중랑구 용마산로 487 (망우동),20191228,GS칼텍스,셀프,0,1535,1355,0,12
90385,A0009138,서울 중랑구,우림주유소,서울 중랑구 용마산로 487 (망우동),20191229,GS칼텍스,셀프,0,1535,1355,0,12
90386,A0009138,서울 중랑구,우림주유소,서울 중랑구 용마산로 487 (망우동),20191230,GS칼텍스,셀프,0,1535,1355,0,12
90387,A0009138,서울 중랑구,우림주유소,서울 중랑구 용마산로 487 (망우동),20191231,GS칼텍스,셀프,0,1535,1355,0,12

In [152]:
폐업 = 주유소_[['주소', '월']].drop_duplicates().groupby(['월'])[['주소']].count()

In [155]:
# 전달과 이번달의 차이를 보고 싶은것
폐업['현황'] = 폐업.주소 - 폐업.주소.shift(1)

In [161]:
폐업.fillna(0).rename(columns={"주소": '집계', '현황': '폐업갯수'}).reset_index()

     월   집계  폐업갯수
0   01  105   0.0
1   02  105   0.0
2   03  100  -5.0
3   04   98  -2.0
4   05   98   0.0
5   06   96  -2.0
6   07   97   1.0
7   08   96  -1.0
8   09   96   0.0
9   10   96   0.0
10  11   93  -3.0
11  12   92  -1.0

In [163]:
주유소_[주유소_.기간 == 20191201].번호.unique().size

92

In [189]:
# 지역별 휘발류 평균값
주유소.groupby(['지역'])[['휘발유']].mean().sort_values(by=['휘발유'], ascending=False)

                 휘발유
지역
서울 중구    1976.948052
서울 용산구   1882.049825
서울 종로구   1838.554945
서울 강남구   1713.093581
서울 마포구   1689.755616
서울 성동구   1583.659561
서울 서초구   1577.131304
서울 강동구   1576.685264
서울 영등포구  1568.279506
서울 노원구   1531.221551
서울 서대문구  1528.943332
서울 구로구   1525.410383
서울 송파구   1518.957954
서울 관악구   1518.128564
서울 양천구   1512.890261
서울 동작구   1512.470911
서울 성북구   1507.948267
서울 동대문구  1506.833542
서울 도봉구   1494.171062
서울 광진구   1490.597054
서울 강서구   1488.818088
서울 은평구   1481.964026
서울 금천구   1477.121992
서울 중랑구   1469.009092
서울 강북구   1453.517525

In [191]:
강남구 = 주유소_.query("지역 == '서울 강남구'")
도봉구 = 주유소_.query("지역 == '서울 도봉구'")

In [212]:
# 휘발유 평균
a = 강남구.groupby(['상호'])[['휘발유']].mean().values

In [213]:
b = 도봉구.groupby(['상호'])[['휘발유']].mean().values

In [216]:
# 두 집단간의 평균 검증
# ttest_ind ()
sc.stats.ttest_ind(a , b)

TtestResult(statistic=array([0.82533725]), pvalue=array([0.43051271]), df=array([9.]))

In [215]:
sc.stats.ttest_ind(a = 강남구['휘발유'] , b = 도봉구['휘발유'])

TtestResult(statistic=8.036914755927121, pvalue=1.2566011556030088e-15, df=3421.0)

- Null hypothesis 귀무가설: 두 집단간의 평균은 동일하다.
- 대립가설: 두 집단간의 평균은 차이가 있다.

pvalue = 유의수준

In [218]:
import sqlalchemy
from urllib import parse

user = 'swp'
password = 'swp1'
host='172.29.132.70'
port = 3306
database = 'encore'
password = parse.quote_plus(password)
engine = sqlalchemy.create_engine(f"mysql://{user}:{password}@{host}:{port}/{database}")

In [220]:
order_products__prior = pd.read_sql_query("select * from order_products__prior;", con=engine)

In [228]:
order_products__prior['first'] = order_products__prior[['add_to_cart_order']] == 1

In [230]:
order_products__prior['first'] = order_products__prior.add_to_cart_order.apply(lambda x : 1 if x ==1 else 0)

In [231]:
order_products__prior

       order_id  product_id  add_to_cart_order  reordered  first
0          2581       40174                  1          0      1
1          2581       17461                  2          0      0
2          2581       19731                  3          1      0
3          5880       24838                  1          1      1
4          5880       24852                  2          1      0
...         ...         ...                ...        ...    ...
32285   3420098       46676                  9          0      0
32286   3420098        5240                 10          0      0
32287   3420098       23375                 11          0      0
32288   3420098       42342                 12          0      0
32289   3420098       17706                 13          1      0

[32290 rows x 5 columns]

In [234]:
df2 = order_products__prior.groupby(['product_id'], as_index=False)[['first']].sum()

In [237]:
df2[df2['first'] == 1]

      product_id  first
12            47      1
19            93      1
20            95      1
24           116      1
33           141      1
...          ...    ...
9254       49519      1
9266       49587      1
9270       49608      1
9271       49610      1
9276       49634      1

[1437 rows x 2 columns]

In [260]:
df2['first'].max()

117

In [261]:
df2[df2['first'] == 117]

   product_id  first
0       24852    117

In [262]:
# ranking
df3=df2.sort_values(by=['first'], ascending=False).reset_index(drop=True)

In [251]:
?pd.DataFrame.rank

Signature:
pd.DataFrame.rank(
    self,
    axis: 'Axis' = 0,
    method: "Literal['average', 'min', 'max', 'first', 'dense']" = 'average',
    numeric_only: 'bool_t' = False,
    na_option: "Literal['keep', 'top', 'bottom']" = 'keep',
    ascending: 'bool_t' = True,
    pct: 'bool_t' = False,
) -> 'Self'
Docstring:
Compute numerical data ranks (1 through n) along axis.

By default, equal values are assigned a rank that is the average of the
ranks of those values.

Parameters
----------
axis : {0 or 'index', 1 or 'columns'}, default 0
    Index to direct ranking.
    For `Series` this parameter is unused and defaults to 0.
method : {'average', 'min', 'max', 'first', 'dense'}, default 'average'
    How to rank the group of records that have the same value (i.e. ties):

    * average: average rank of the group
    * min: lowest rank in the group
    * max: highest rank in the group
    * first: ranks assigned in order they appear in the array
    * dense: like 'min', but rank always increases by 1 between groups.

numeric_only : bool, default False
    For DataFrame objects, rank only numeric columns if set to True.

    .. versionchanged:: 2.0.0
        The default value of ``numeric_only`` is now ``False``.

na_option : {'keep', 'top', 'bottom'}, default 'keep'
    How to rank NaN values:

    * keep: assign NaN rank to NaN values
    * top: assign lowest rank to NaN values
    * bottom: assign highest rank to NaN values

ascending : bool, default True
    Whether or not the elements should be ranked in ascending order.
pct : bool, default False
    Whether or not to display the returned rankings in percentile
    form.

Returns
-------
same type as caller
    Return a Series or DataFrame with data ranks as values.

See Also
--------
core.groupby.DataFrameGroupBy.rank : Rank of values within each group.
core.groupby.SeriesGroupBy.rank : Rank of values within each group.

Examples
--------
>>> df = pd.DataFrame(data={'Animal': ['cat', 'penguin', 'dog',
...                                    'spider', 'snake'],
...                         'Number_legs': [4, 2, 4, 8, np.nan]})
>>> df
    Animal  Number_legs
0      cat          4.0
1  penguin          2.0
2      dog          4.0
3   spider          8.0
4    snake          NaN

Ties are assigned the mean of the ranks (by default) for the group.

>>> s = pd.Series(range(5), index=list("abcde"))
>>> s["d"] = s["b"]
>>> s.rank()
a    1.0
b    2.5
c    4.0
d    2.5
e    5.0
dtype: float64

The following example shows how the method behaves with the above
parameters:

* default_rank: this is the default behaviour obtained without using
  any parameter.
* max_rank: setting ``method = 'max'`` the records that have the
  same values are ranked using the highest rank (e.g.: since 'cat'
  and 'dog' are both in the 2nd and 3rd position, rank 3 is assigned.)
* NA_bottom: choosing ``na_option = 'bottom'``, if there are records
  with NaN values they are placed at the bottom of the ranking.
* pct_rank: when setting ``pct = True``, the ranking is expressed as
  percentile rank.

>>> df['default_rank'] = df['Number_legs'].rank()
>>> df['max_rank'] = df['Number_legs'].rank(method='max')
>>> df['NA_bottom'] = df['Number_legs'].rank(na_option='bottom')
>>> df['pct_rank'] = df['Number_legs'].rank(pct=True)
>>> df
    Animal  Number_legs  default_rank  max_rank  NA_bottom  pct_rank
0      cat          4.0           2.5       3.0        2.5     0.625
1  penguin          2.0           1.0       1.0        1.0     0.250
2      dog          4.0           2.5       3.0        2.5     0.625
3   spider          8.0           4.0       4.0        4.0     1.000
4    snake          NaN           NaN       NaN        5.0       NaN
File:      ~/miniconda3/lib/python3.10/site-packages/pandas/core/generic.py
Type:      function

In [263]:
df3['rank'] = df3['first'].rank(ascending=False)

In [265]:
df3['rank'] = df3['rank'].astype(int)

In [267]:
df3.head(10)

   product_id  first  rank
0       24852    117     1
1       13176     62     2
2       27845     37     3
3       21137     31     4
4       21903     27     5
5       47209     24     6
6       19660     18     7
7       16797     17     8
8       12341     16     9
9        5785     16     9