In [27]:
def fibo(n):
    fibolist = []
    for x in range(n+1):
        try: 
            fibolist.append(fibolist[-1]+fibolist[-2])
        except:
            fibolist.append(x)

    return  fibolist[1:]

In [28]:
fibo(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [29]:
# 재귀함수 사용, 
def fibo_recu(n):
    if n < 2: return n
    return fibo_recu(n-1) + fibo_recu(n-2)

In [1]:
# 이터레이터
# return 대신 사용하는 것 yield
def fibo_generator():
    a,b = 0,1
    while True:
        yield b
        a , b = b, a + b

In [2]:
fg = fibo_generator()

In [3]:
# 이터레인터는 yield를 사용하여 잠시 멈춤사용
# 장점: 메모리를 효율적으로 사용할 수 있다
for _ in range(10):
    print(next(fg))

1
1
2
3
5
8
13
21
34
55

In [4]:
import os
for root, dirs, files in os.walk("/etc"):
    for file in files:
        print(f"{root}/{file}")

/etc/services
/etc/lsb-release
/etc/protocols
/etc/rsyslog.conf
/etc/ltrace.conf
/etc/inputrc
/etc/gai.conf
/etc/crontab
/etc/popularity-contest.conf
/etc/xattr.conf
/etc/group-
/etc/subuid-
/etc/legal
/etc/sensors3.conf
/etc/ec2_version
/etc/machine-id
/etc/ld.so.conf
/etc/overlayroot.conf
/etc/nanorc
/etc/wgetrc
/etc/multipath.conf
/etc/hosts.deny
/etc/adduser.conf
/etc/subuid
/etc/ucf.conf
/etc/magic.mime
/etc/fuse.conf
/etc/manpath.config
/etc/rmt
/etc/resolv.conf
/etc/os-release
/etc/hosts
/etc/nsswitch.conf
/etc/libaudit.conf
/etc/locale.alias
/etc/ca-certificates.conf
/etc/localtime
/etc/sudoers
/etc/shadow-
/etc/overlayroot.local.conf
/etc/passwd
/etc/screenrc
/etc/bash.bashrc
/etc/deluser.conf
/etc/mime.types
/etc/timezone
/etc/mtab
/etc/locale.gen
/etc/bindresvport.blacklist
/etc/ca-certificates.conf.dpkg-old
/etc/login.defs
/etc/vtrgb
/etc/e2scrub.conf
/etc/ld.so.cache
/etc/profile
/etc/mecabrc
/etc/at.deny
/etc/issue
/etc/shadow
/etc/hdparm.conf
/etc/host.conf
/etc/magic
/etc/usb_modeswitch.conf
/etc/hostname
/etc/fstab
/etc/mailcap.order
/etc/environment
/etc/gshadow-
/etc/pam.conf
/etc/gshadow
/etc/sysctl.conf
/etc/subgid
/etc/zsh_command_not_found
/etc/shells
/etc/mke2fs.conf
/etc/issue.net
/etc/group
/etc/.pwd.lock
/etc/networks
/etc/rpc
/etc/mailcap
/etc/subgid-
/etc/hosts.allow
/etc/ethertypes
/etc/debian_version
/etc/debconf.conf
/etc/crypttab
/etc/logrotate.conf
/etc/bash_completion
/etc/passwd-
/etc/modules
/etc/kernel-img.conf
/etc/systemd/timesyncd.conf
/etc/systemd/resolved.conf
/etc/systemd/journald.conf
/etc/systemd/system.conf
/etc/systemd/logind.conf
/etc/systemd/pstore.conf
/etc/systemd/user.conf
/etc/systemd/sleep.conf
/etc/systemd/networkd.conf
/etc/systemd/system/snap-core18-1988.mount
/etc/systemd/system/iscsi.service
/etc/systemd/system/dbus-org.freedesktop.ModemManager1.service
/etc/systemd/system/dbus-org.freedesktop.timesync1.service
/etc/systemd/system/snap.lxd.activate.service
/etc/systemd/system/snap-snapd-11036.mount
/etc/systemd/system/vmtoolsd.service
/etc/systemd/system/multipath-tools.service
/etc/systemd/system/sshd.service
/etc/systemd/system/snap-lxd-19188.mount
/etc/systemd/system/snap.lxd.daemon.unix.socket
/etc/systemd/system/syslog.service
/etc/systemd/system/dbus-org.freedesktop.resolve1.service
/etc/systemd/system/snap.lxd.daemon.service
/etc/systemd/system/getty.target.wants/getty@tty1.service
/etc/systemd/system/paths.target.wants/apport-autoreport.path
/etc/systemd/system/cloud-final.service.wants/snapd.seeded.service
/etc/systemd/system/sysinit.target.wants/systemd-pstore.service
/etc/systemd/system/sysinit.target.wants/keyboard-setup.service
/etc/systemd/system/sysinit.target.wants/lvm2-monitor.service
/etc/systemd/system/sysinit.target.wants/open-iscsi.service
/etc/systemd/system/sysinit.target.wants/lvm2-lvmpolld.socket
/etc/systemd/system/sysinit.target.wants/systemd-timesyncd.service
/etc/systemd/system/sysinit.target.wants/multipathd.service
/etc/systemd/system/sysinit.target.wants/setvtrgb.service
/etc/systemd/system/sysinit.target.wants/blk-availability.service
/etc/systemd/system/sysinit.target.wants/apparmor.service
/etc/systemd/system/sysinit.target.wants/finalrd.service
/etc/systemd/system/sshd-keygen@.service.d/disable-sshd-keygen-if-cloud-init-active.conf
/etc/systemd/system/multi-user.target.wants/snap-core18-1988.mount
/etc/systemd/system/multi-user.target.wants/unattended-upgrades.service
/etc/systemd/system/multi-user.target.wants/pollinate.service
/etc/systemd/system/multi-user.target.wants/snapd.seeded.service
/etc/systemd/system/multi-user.target.wants/ondemand.service
/etc/systemd/system/multi-user.target.wants/systemd-networkd.service
/etc/systemd/system/multi-user.target.wants/secureboot-db.service
/etc/systemd/system/multi-user.target.wants/lxd-agent-9p.service
/etc/systemd/system/multi-user.target.wants/mysql.service
/etc/systemd/system/multi-user.target.wants/systemd-resolved.service
/etc/systemd/system/multi-user.target.wants/lxd-agent.service
/etc/systemd/system/multi-user.target.wants/snap-snapd-11036.mount
/etc/systemd/system/multi-user.target.wants/irqbalance.service
/etc/systemd/system/multi-user.target.wants/rsyslog.service
/etc/systemd/system/multi-user.target.wants/ModemManager.service
/etc/systemd/system/multi-user.target.wants/ufw.service
/etc/systemd/system/multi-user.target.wants/remote-fs.target
/etc/systemd/system/multi-user.target.wants/atd.service
/etc/systemd/system/multi-user.target.wants/snap-lxd-19188.mount
/etc/systemd/system/multi-user.target.wants/dmesg.service
/etc/systemd/system/multi-user.target.wants/snapd.core-fixup.service
/etc/systemd/system/multi-user.target.wants/rsync.service
/etc/systemd/system/multi-user.target.wants/networkd-dispatcher.service
/etc/systemd/system/multi-user.target.wants/open-vm-tools.service
/etc/systemd/system/multi-user.target.wants/cron.service
/etc/systemd/system/multi-user.target.wants/ua-reboot-cmds.service
/etc/systemd/system/multi-user.target.wants/ubuntu-advantage.service
/etc/systemd/system/multi-user.target.wants/snapd.autoimport.service
/etc/systemd/system/multi-user.target.wants/console-setup.service
/etc/systemd/system/multi-user.target.wants/snapd.recovery-chooser-trigger.service
/etc/systemd/system/multi-user.target.wants/snapd.apparmor.service
/etc/systemd/system/multi-user.target.wants/snapd.service
/etc/systemd/system/multi-user.target.wants/ssh.service
/etc/systemd/system/mdmonitor.service.wants/mdcheck_continue.timer
/etc/systemd/system/mdmonitor.service.wants/mdcheck_start.timer
/etc/systemd/system/mdmonitor.service.wants/mdmonitor-oneshot.timer
/etc/systemd/system/network-online.target.wants/systemd-networkd-wait-online.service
/etc/systemd/system/timers.target.wants/man-db.timer
/etc/systemd/system/timers.target.wants/fwupd-refresh.timer
/etc/systemd/system/timers.target.wants/logrotate.timer
/etc/systemd/system/timers.target.wants/fstrim.timer
/etc/systemd/system/timers.target.wants/snapd.snap-repair.timer
/etc/systemd/system/timers.target.wants/e2scrub_all.timer
/etc/systemd/system/timers.target.wants/apt-daily.timer
/etc/systemd/system/timers.target.wants/motd-news.timer
/etc/systemd/system/timers.target.wants/ua-timer.timer
/etc/systemd/system/timers.target.wants/apt-daily-upgrade.timer
/etc/systemd/system/final.target.wants/snapd.system-shutdown.service
/etc/systemd/system/graphical.target.wants/accounts-daemon.service
/etc/systemd/system/graphical.target.wants/udisks2.service
/etc/systemd/system/sockets.target.wants/apport-forward.socket
/etc/systemd/system/sockets.target.wants/snapd.socket
/etc/systemd/system/sockets.target.wants/uuidd.socket
/etc/systemd/system/sockets.target.wants/multipathd.socket
/etc/systemd/system/sockets.target.wants/iscsid.socket
/etc/systemd/system/sockets.target.wants/dm-event.socket
/etc/systemd/system/sockets.target.wants/systemd-networkd.socket
/etc/systemd/system/cloud-init.target.wants/cloud-init-hotplugd.socket
/etc/systemd/system/cloud-init.target.wants/cloud-config.service
/etc/systemd/system/cloud-init.target.wants/cloud-init.service
/etc/systemd/system/cloud-init.target.wants/cloud-init-local.service
/etc/systemd/system/cloud-init.target.wants/cloud-final.service
/etc/systemd/system/default.target.wants/e2scrub_reap.service
/etc/systemd/system/open-vm-tools.service.requires/vgauth.service
/etc/systemd/user/sockets.target.wants/gpg-agent.socket
/etc/systemd/user/sockets.target.wants/gpg-agent-extra.socket
/etc/systemd/user/sockets.target.wants/pk-debconf-helper.socket
/etc/systemd/user/sockets.target.wants/gpg-agent-ssh.socket
/etc/systemd/user/sockets.target.wants/dirmngr.socket
/etc/systemd/user/sockets.target.wants/gpg-agent-browser.socket
/etc/byobu/backend
/etc/byobu/socketdir
/etc/cron.hourly/.placeholder
/etc/initramfs-tools/update-initramfs.conf
/etc/initramfs-tools/initramfs.conf
/etc/initramfs-tools/modules
/etc/python3.8/sitecustomize.py
/etc/pollinate/entropy.ubuntu.com.pem
/etc/newt/palette.original
/etc/newt/palette.ubuntu
/etc/newt/palette
/etc/dpkg/dpkg.cfg
/etc/dpkg/shlibs.default
/etc/dpkg/shlibs.override
/etc/dpkg/origins/default
/etc/dpkg/origins/debian
/etc/dpkg/origins/ubuntu
/etc/apparmor.d/usr.sbin.rsyslogd
/etc/apparmor.d/ubuntu_pro_apt_news
/etc/apparmor.d/lsb_release
/etc/apparmor.d/usr.sbin.tcpdump
/etc/apparmor.d/usr.sbin.mysqld
/etc/apparmor.d/usr.lib.snapd.snap-confine.real
/etc/apparmor.d/usr.bin.man
/etc/apparmor.d/nvidia_modprobe
/etc/apparmor.d/sbin.dhclient
/etc/apparmor.d/tunables/home
/etc/apparmor.d/tunables/alias
/etc/apparmor.d/tunables/kernelvars
/etc/apparmor.d/tunables/xdg-user-dirs
/etc/apparmor.d/tunables/dovecot
/etc/apparmor.d/tunables/share
/etc/apparmor.d/tunables/apparmorfs
/etc/apparmor.d/tunables/sys
/etc/apparmor.d/tunables/multiarch
/etc/apparmor.d/tunables/proc
/etc/apparmor.d/tunables/securityfs
/etc/apparmor.d/tunables/global
/etc/apparmor.d/tunables/home.d/site.local
/etc/apparmor.d/tunables/home.d/ubuntu
/etc/apparmor.d/tunables/multiarch.d/site.local
/etc/apparmor.d/tunables/xdg-user-dirs.d/site.local
/etc/apparmor.d/abi/2.13
/etc/apparmor.d/disable/usr.sbin.rsyslogd
/etc/apparmor.d/abstractions/vulkan
/etc/apparmor.d/abstractions/ruby
/etc/apparmor.d/abstractions/user-write
/etc/apparmor.d/abstractions/ssl_keys
/etc/apparmor.d/abstractions/wayland
/etc/apparmor.d/abstractions/opencl-intel
/etc/apparmor.d/abstractions/ubuntu-unity7-messaging
/etc/apparmor.d/abstractions/gnupg
/etc/apparmor.d/abstractions/dri-enumerate
/etc/apparmor.d/abstractions/opencl-mesa
/etc/apparmor.d/abstractions/aspell
/etc/apparmor.d/abstractions/ldapclient
/etc/apparmor.d/abstractions/opencl-nvidia
/etc/apparmor.d/abstractions/p11-kit
/etc/apparmor.d/abstractions/bash
/etc/apparmor.d/abstractions/opencl-pocl
/etc/apparmor.d/abstractions/dbus-strict
/etc/apparmor.d/abstractions/qt5
/etc/apparmor.d/abstractions/kde-language-write
/etc/apparmor.d/abstractions/dconf
/etc/apparmor.d/abstractions/ssl_certs
/etc/apparmor.d/abstractions/consoles
/etc/apparmor.d/abstractions/svn-repositories
/etc/apparmor.d/abstractions/ubuntu-email
/etc/apparmor.d/abstractions/xad
/etc/apparmor.d/abstractions/ubuntu-console-email
/etc/apparmor.d/abstractions/dbus-accessibility-strict
/etc/apparmor.d/abstractions/ubuntu-media-players
/etc/apparmor.d/abstractions/ubuntu-gnome-terminal
/etc/apparmor.d/abstractions/recent-documents-write
/etc/apparmor.d/abstractions/dbus-session
/etc/apparmor.d/abstractions/nvidia
/etc/apparmor.d/abstractions/nameservice
/etc/apparmor.d/abstractions/enchant
/etc/apparmor.d/abstractions/postfix-common
/etc/apparmor.d/abstractions/xdg-desktop
/etc/apparmor.d/abstractions/video
/etc/apparmor.d/abstractions/audio
/etc/apparmor.d/abstractions/php
/etc/apparmor.d/abstractions/fcitx-strict
/etc/apparmor.d/abstractions/ubuntu-helpers
/etc/apparmor.d/abstractions/openssl
/etc/apparmor.d/abstractions/dovecot-common
/etc/apparmor.d/abstractions/private-files
/etc/apparmor.d/abstractions/base
/etc/apparmor.d/abstractions/php5
/etc/apparmor.d/abstractions/ibus
/etc/apparmor.d/abstractions/mesa
/etc/apparmor.d/abstractions/kde-icon-cache-write
/etc/apparmor.d/abstractions/mysql
/etc/apparmor.d/abstractions/authentication
/etc/apparmor.d/abstractions/kerberosclient
/etc/apparmor.d/abstractions/mir
/etc/apparmor.d/abstractions/smbpass
/etc/apparmor.d/abstractions/ubuntu-bittorrent-clients
/etc/apparmor.d/abstractions/opencl
/etc/apparmor.d/abstractions/user-mail
/etc/apparmor.d/abstractions/libpam-systemd
/etc/apparmor.d/abstractions/dbus-accessibility
/etc/apparmor.d/abstractions/likewise
/etc/apparmor.d/abstractions/ubuntu-konsole
/etc/apparmor.d/abstractions/private-files-strict
/etc/apparmor.d/abstractions/gnome
/etc/apparmor.d/abstractions/wutmp
/etc/apparmor.d/abstractions/fonts
/etc/apparmor.d/abstractions/dbus
/etc/apparmor.d/abstractions/dbus-session-strict
/etc/apparmor.d/abstractions/apache2-common
/etc/apparmor.d/abstractions/ubuntu-unity7-base
/etc/apparmor.d/abstractions/ubuntu-xterm
/etc/apparmor.d/abstractions/cups-client
/etc/apparmor.d/abstractions/opencl-common
/etc/apparmor.d/abstractions/perl
/etc/apparmor.d/abstractions/ubuntu-unity7-launcher
/etc/apparmor.d/abstractions/ubuntu-browsers
/etc/apparmor.d/abstractions/kde-globals-write
/etc/apparmor.d/abstractions/python
/etc/apparmor.d/abstractions/user-manpages
/etc/apparmor.d/abstractions/qt5-settings-write
/etc/apparmor.d/abstractions/X
/etc/apparmor.d/abstractions/web-data
/etc/apparmor.d/abstractions/fcitx
/etc/apparmor.d/abstractions/orbit2
/etc/apparmor.d/abstractions/mozc
/etc/apparmor.d/abstractions/user-download
/etc/apparmor.d/abstractions/nis
/etc/apparmor.d/abstractions/samba
/etc/apparmor.d/abstractions/dri-common
/etc/apparmor.d/abstractions/ubuntu-feed-readers
/etc/apparmor.d/abstractions/kde
/etc/apparmor.d/abstractions/ubuntu-console-browsers
/etc/apparmor.d/abstractions/mdns
/etc/apparmor.d/abstractions/user-tmp
/etc/apparmor.d/abstractions/winbind
/etc/apparmor.d/abstractions/freedesktop.org
/etc/apparmor.d/abstractions/qt5-compose-cache-write
/etc/apparmor.d/abstractions/ubuntu-browsers.d/ubuntu-integration
/etc/apparmor.d/abstractions/ubuntu-browsers.d/mailto
/etc/apparmor.d/abstractions/ubuntu-browsers.d/productivity
/etc/apparmor.d/abstractions/ubuntu-browsers.d/user-files
/etc/apparmor.d/abstractions/ubuntu-browsers.d/multimedia
/etc/apparmor.d/abstractions/ubuntu-browsers.d/java
/etc/apparmor.d/abstractions/ubuntu-browsers.d/text-editors
/etc/apparmor.d/abstractions/ubuntu-browsers.d/ubuntu-integration-xul
/etc/apparmor.d/abstractions/ubuntu-browsers.d/plugins-common
/etc/apparmor.d/abstractions/ubuntu-browsers.d/kde
/etc/apparmor.d/abstractions/apparmor_api/change_profile
/etc/apparmor.d/abstractions/apparmor_api/is_enabled
/etc/apparmor.d/abstractions/apparmor_api/introspect
/etc/apparmor.d/abstractions/apparmor_api/examine
/etc/apparmor.d/abstractions/apparmor_api/find_mountpoint
/etc/apparmor.d/local/usr.sbin.rsyslogd
/etc/apparmor.d/local/ubuntu_pro_apt_news
/etc/apparmor.d/local/lsb_release
/etc/apparmor.d/local/usr.sbin.tcpdump
/etc/apparmor.d/local/usr.sbin.mysqld
/etc/apparmor.d/local/usr.lib.snapd.snap-confine.real
/etc/apparmor.d/local/usr.bin.man
/etc/apparmor.d/local/nvidia_modprobe
/etc/apparmor.d/local/sbin.dhclient
/etc/apparmor.d/local/README
/etc/apport/crashdb.conf
/etc/apport/blacklist.d/apport
/etc/apport/blacklist.d/README.blacklist
/etc/libblockdev/conf.d/00-default.cfg
/etc/cloud/cloud.cfg
/etc/cloud/build.info
/etc/cloud/templates/chrony.conf.ubuntu.tmpl
/etc/cloud/templates/hosts.gentoo.tmpl
/etc/cloud/templates/ntp.conf.sles.tmpl
/etc/cloud/templates/ntp.conf.fedora.tmpl
/etc/cloud/templates/chrony.conf.alpine.tmpl
/etc/cloud/templates/hosts.suse.tmpl
/etc/cloud/templates/chrony.conf.opensuse-leap.tmpl
/etc/cloud/templates/hosts.freebsd.tmpl
/etc/cloud/templates/chef_client.rb.tmpl
/etc/cloud/templates/chrony.conf.debian.tmpl
/etc/cloud/templates/hosts.alpine.tmpl
/etc/cloud/templates/chrony.conf.opensuse-tumbleweed.tmpl
/etc/cloud/templates/hosts.arch.tmpl
/etc/cloud/templates/chrony.conf.sle-micro.tmpl
/etc/cloud/templates/ntp.conf.ubuntu.tmpl
/etc/cloud/templates/chrony.conf.rhel.tmpl
/etc/cloud/templates/sources.list.debian.tmpl
/etc/cloud/templates/ntp.conf.debian.tmpl
/etc/cloud/templates/ntp.conf.rhel.tmpl
/etc/cloud/templates/sources.list.ubuntu.tmpl
/etc/cloud/templates/hosts.redhat.tmpl
/etc/cloud/templates/ntp.conf.photon.tmpl
/etc/cloud/templates/chrony.conf.opensuse-microos.tmpl
/etc/cloud/templates/chrony.conf.photon.tmpl
/etc/cloud/templates/chrony.conf.centos.tmpl
/etc/cloud/templates/sources.list.ubuntu.deb822.tmpl
/etc/cloud/templates/timesyncd.conf.tmpl
/etc/cloud/templates/chrony.conf.fedora.tmpl
/etc/cloud/templates/hosts.debian.tmpl
/etc/cloud/templates/chrony.conf.sle_hpc.tmpl
/etc/cloud/templates/sources.list.debian.deb822.tmpl
/etc/cloud/templates/systemd.resolved.conf.tmpl
/etc/cloud/templates/ntp.conf.freebsd.tmpl
/etc/cloud/templates/chrony.conf.opensuse.tmpl
/etc/cloud/templates/ntpd.conf.openbsd.tmpl
/etc/cloud/templates/chrony.conf.cos.tmpl
/etc/cloud/templates/resolv.conf.tmpl
/etc/cloud/templates/hosts.photon.tmpl
/etc/cloud/templates/ntp.conf.alpine.tmpl
/etc/cloud/templates/chrony.conf.freebsd.tmpl
/etc/cloud/templates/ntp.conf.opensuse.tmpl
/etc/cloud/templates/hosts.mariner.tmpl
/etc/cloud/templates/chrony.conf.sles.tmpl
/etc/cloud/cloud.cfg.d/05_logging.cfg
/etc/cloud/cloud.cfg.d/90_dpkg.cfg
/etc/cloud/cloud.cfg.d/README
/etc/cloud/clean.d/README
/etc/rcS.d/S01iscsid
/etc/rcS.d/S01cryptdisks
/etc/rcS.d/S01kmod
/etc/rcS.d/S01lvm2
/etc/rcS.d/S01plymouth-log
/etc/rcS.d/S01udev
/etc/rcS.d/S01apparmor
/etc/rcS.d/S01keyboard-setup.sh
/etc/rcS.d/S01screen-cleanup
/etc/rcS.d/S01ufw
/etc/rcS.d/S01procps
/etc/rcS.d/S01open-iscsi
/etc/rcS.d/S01x11-common
/etc/rcS.d/S01cryptdisks-early
/etc/rc5.d/S01atd
/etc/rc5.d/S01multipath-tools
/etc/rc5.d/S01mysql
/etc/rc5.d/S01plymouth
/etc/rc5.d/S01apport
/etc/rc5.d/S01rsync
/etc/rc5.d/S01lvm2-lvmpolld
/etc/rc5.d/S01dbus
/etc/rc5.d/S01open-vm-tools
/etc/rc5.d/S01unattended-upgrades
/etc/rc5.d/S01rsyslog
/etc/rc5.d/S01cron
/etc/rc5.d/S01irqbalance
/etc/rc5.d/S01ssh
/etc/rc5.d/S01console-setup.sh
/etc/rc5.d/S01uuidd
/etc/rc4.d/S01atd
/etc/rc4.d/S01multipath-tools
/etc/rc4.d/S01mysql
/etc/rc4.d/S01plymouth
/etc/rc4.d/S01apport
/etc/rc4.d/S01rsync
/etc/rc4.d/S01lvm2-lvmpolld
/etc/rc4.d/S01dbus
/etc/rc4.d/S01open-vm-tools
/etc/rc4.d/S01unattended-upgrades
/etc/rc4.d/S01rsyslog
/etc/rc4.d/S01cron
/etc/rc4.d/S01irqbalance
/etc/rc4.d/S01ssh
/etc/rc4.d/S01console-setup.sh
/etc/rc4.d/S01uuidd
/etc/console-setup/compose.CP1255.inc
/etc/console-setup/compose.TIS-620.inc
/etc/console-setup/compose.CP1251.inc
/etc/console-setup/compose.ISO-8859-9.inc
/etc/console-setup/ISO-8859-1.acm
/etc/console-setup/compose.KOI8-U.inc
/etc/console-setup/compose.KOI8-R.inc
/etc/console-setup/compose.ARMSCII-8.inc
/etc/console-setup/compose.CP1256.inc
/etc/console-setup/compose.ISO-8859-3.inc
/etc/console-setup/compose.ISO-8859-7.inc
/etc/console-setup/compose.ISIRI-3342.inc
/etc/console-setup/compose.VISCII.inc
/etc/console-setup/compose.ISO-8859-16.inc
/etc/console-setup/cached_UTF-8_del.kmap.gz
/etc/console-setup/compose.ISO-8859-2.inc
/etc/console-setup/compose.ISO-8859-14.inc
/etc/console-setup/remap.inc
/etc/console-setup/compose.ISO-8859-4.inc
/etc/console-setup/vtrgb.vga
/etc/console-setup/compose.ISO-8859-10.inc
/etc/console-setup/vtrgb
/etc/console-setup/cached_ISO-8859-1_del.kmap.gz
/etc/console-setup/Uni2-Fixed16.psf.gz
/etc/console-setup/compose.GEORGIAN-PS.inc
/etc/console-setup/compose.ISO-8859-6.inc
/etc/console-setup/cached_setup_terminal.sh
/etc/console-setup/cached_Uni2-Fixed16.psf.gz
/etc/console-setup/compose.GEORGIAN-ACADEMY.inc
/etc/console-setup/compose.IBM1133.inc
/etc/console-setup/compose.ISO-8859-5.inc
/etc/console-setup/cached_setup_font.sh
/etc/console-setup/compose.ISO-8859-15.inc
/etc/console-setup/compose.ISO-8859-11.inc
/etc/console-setup/compose.ISO-8859-13.inc
/etc/console-setup/compose.ISO-8859-8.inc
/etc/console-setup/cached_ISO-8859-1.acm.gz
/etc/console-setup/compose.ISO-8859-1.inc
/etc/console-setup/cached_setup_keyboard.sh
/etc/fwupd/uefi_capsule.conf
/etc/fwupd/msr.conf
/etc/fwupd/upower.conf
/etc/fwupd/thunderbolt.conf
/etc/fwupd/daemon.conf
/etc/fwupd/redfish.conf
/etc/fwupd/remotes.d/lvfs-testing.conf
/etc/fwupd/remotes.d/dell-esrt.conf
/etc/fwupd/remotes.d/vendor.conf
/etc/fwupd/remotes.d/vendor-directory.conf
/etc/fwupd/remotes.d/lvfs.conf
/etc/dbus-1/system.d/com.ubuntu.LanguageSelector.conf
/etc/dbus-1/system.d/org.freedesktop.Accounts.conf
/etc/dbus-1/system.d/com.ubuntu.SoftwareProperties.conf
/etc/dbus-1/system.d/org.freedesktop.PackageKit.conf
/etc/dbus-1/system.d/org.freedesktop.ModemManager1.conf
/etc/rc6.d/K01open-iscsi
/etc/rc6.d/K01unattended-upgrades
/etc/rc6.d/K01cryptdisks-early
/etc/rc6.d/K01open-vm-tools
/etc/rc6.d/K01multipath-tools
/etc/rc6.d/K01iscsid
/etc/rc6.d/K01rsyslog
/etc/rc6.d/K01cryptdisks
/etc/rc6.d/K01plymouth
/etc/rc6.d/K01atd
/etc/rc6.d/K01uuidd

# 지하철 예제

In [12]:
import glob
import pandas as pd

In [11]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (19 kB)
Collecting numpy>=1.22.4 (from pandas)
  Downloading numpy-1.26.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.0/61.0 kB 3.5 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /root/miniconda3/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /root/miniconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.0/13.0 MB 11.3 MB/s eta 0:00:0000:0100:01m
Downloading numpy-1.26.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.2/18.2 MB 14.8 MB/s eta 0:00:0000:0100:01
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 505.5/505.5 kB 123.8 kB/s eta 0:00:00a 0:00:01
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 kB 90.8 kB/s eta 0:00:00a 0:00:01
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.2 pytz-2024.1 tzdata-2024.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Note: you may need to restart the kernel to use updated packages.

In [111]:
sorted(glob.glob("./data/2016/*.csv"), key=lambda x : x.split("_")[1])

['./data/2016/Subway_201601.csv',
 './data/2016/Subway_201602.csv',
 './data/2016/Subway_201603.csv',
 './data/2016/Subway_201604.csv',
 './data/2016/Subway_201605.csv',
 './data/2016/Subway_201606.csv',
 './data/2016/Subway_201607.csv',
 './data/2016/Subway_201608.csv',
 './data/2016/Subway_201609.csv',
 './data/2016/Subway_201610.csv',
 './data/2016/Subway_201611.csv',
 './data/2016/Subway_201612.csv']

In [171]:
del(target)
del(sub_df1_1)
del(subway_df1)
del(subway_total)
del(sub_01_11, sub_df1_2, subway_df2, subway_df2_1, subway_df3)

In [172]:
import os 
target = sorted(glob.glob("./data/2016/*.csv"), key=lambda x : x.split("_")[1])

subway_total = [pd.read_csv(file_locate, encoding='cp949') \
                for file_locate in target ]

In [173]:
target

['./data/2016/Subway_201601.csv',
 './data/2016/Subway_201602.csv',
 './data/2016/Subway_201603.csv',
 './data/2016/Subway_201604.csv',
 './data/2016/Subway_201605.csv',
 './data/2016/Subway_201606.csv',
 './data/2016/Subway_201607.csv',
 './data/2016/Subway_201608.csv',
 './data/2016/Subway_201609.csv',
 './data/2016/Subway_201610.csv',
 './data/2016/Subway_201611.csv',
 './data/2016/Subway_201612.csv']

In [174]:
for file in target:
    locals()[f'{file.split(".")[1].split("/")[-1]}'] = \
       pd.read_csv(file, encoding='cp949')

In [175]:
for x in subway_total:
    display(x.head(1))
    print("-" * 100)

,날짜,호선,역명,구 분,할인,04 ~ 05,05 ~ 06,06 ~ 07,07 ~ 08,08 ~ 09,...,18 ~ 19,19 ~ 20,20 ~ 21,21 ~ 22,22 ~ 23,23 ~ 24,00 ~ 01,01 ~ 02,02 ~ 03,03 ~ 04
0,2016-01-01,1호선,서울역(150),승차,일반,44,298,243,490,909,...,2520,2129,1924,2038,1766,868,52,0,0,0

----------------------------------------------------------------------------------------------------

,날짜,호선,역명,구 분,할인,04 ~ 05,05 ~ 06,06 ~ 07,07 ~ 08,08 ~ 09,...,18 ~ 19,19 ~ 20,20 ~ 21,21 ~ 22,22 ~ 23,23 ~ 24,00 ~ 01,01 ~ 02,02 ~ 03,03 ~ 04
0,2016-02-01,1호선,서울역(150),승차,일반,34,322,459,2271,3267,...,7705,5010,3448,3386,2145,1093,141,0,0,0

----------------------------------------------------------------------------------------------------

,날짜,호선,역명,구 분,할인,04 ~ 05,05 ~ 06,06 ~ 07,07 ~ 08,08 ~ 09,...,18 ~ 19,19 ~ 20,20 ~ 21,21 ~ 22,22 ~ 23,23 ~ 24,00 ~ 01,01 ~ 02,02 ~ 03,03 ~ 04
0,2016-03-01,1호선,서울역(150),승차,일반,23,263,255,372,816,...,3232,2505,2190,2538,1992,859,56,0,0,0

----------------------------------------------------------------------------------------------------

,날짜,호선,역명,구 분,할인,04 ~ 05,05 ~ 06,06 ~ 07,07 ~ 08,08 ~ 09,...,18 ~ 19,19 ~ 20,20 ~ 21,21 ~ 22,22 ~ 23,23 ~ 24,00 ~ 01,01 ~ 02,02 ~ 03,03 ~ 04
0,2016-04-01,1호선,서울역(150),승차,일반,23,301,418,1528,3079,...,9957,5931,4086,4202,4104,2054,283,0,0,0

----------------------------------------------------------------------------------------------------

,날짜,호선,역명,구 분,할인,04 ~ 05,05 ~ 06,06 ~ 07,07 ~ 08,08 ~ 09,...,18 ~ 19,19 ~ 20,20 ~ 21,21 ~ 22,22 ~ 23,23 ~ 24,00 ~ 01,01 ~ 02,02 ~ 03,03 ~ 04
0,2016-05-01,1호선,서울역(150),승차,일반,22,224,218,438,1002,...,3497,3168,2508,3352,3426,1374,39,0,0,0

----------------------------------------------------------------------------------------------------

,역명,날짜,구분,05~06,06~07,07~08,08~09,09~10,10~11,11~12,...,16~17,17~18,18~19,19~20,20~21,21~22,22~23,23~24,00~01,01~02
0,서울역(150),2016-06-01,승차,521,538,2111,3391,2454,2385,2821,...,3764,5060,9536,5169,3393,3820,2440,1355,202,0

----------------------------------------------------------------------------------------------------

,역명,날짜,구분,05~06,06~07,07~08,08~09,09~10,10~11,11~12,...,16~17,17~18,18~19,19~20,20~21,21~22,22~23,23~24,00~01,01~02
0,서울역(150),2016-07-01,승차,436,553,1736,3165,2335,2364,2955,...,4917,5715,11425,6182,4219,5023,4367,2381,334,0

----------------------------------------------------------------------------------------------------

,역명,날짜,구분,05~06,06~07,07~08,08~09,09~10,10~11,11~12,...,16~17,17~18,18~19,19~20,20~21,21~22,22~23,23~24,00~01,01~02
0,서울역(150),2016-08-01,승차,570,531,2293,3637,2826,2791,3584,...,4173,4958,8676,5508,3364,3843,2475,1326,208,0

----------------------------------------------------------------------------------------------------

,역명,날짜,구분,05~06,06~07,07~08,08~09,09~10,10~11,11~12,...,16~17,17~18,18~19,19~20,20~21,21~22,22~23,23~24,00~01,01~02
0,서울역(150),2016-09-01,승차,451,570,1960,3740,2746,2579,2932,...,3854,5127,9840,5359,3650,3897,2653,1517,266,1

----------------------------------------------------------------------------------------------------

,역명,날짜,구분,05~06,06~07,07~08,08~09,09~10,10~11,11~12,...,16~17,17~18,18~19,19~20,20~21,21~22,22~23,23~24,00~01,01~02
0,서울역(150),2016-10-01,승차,630,509,1068,2387,3272,3216,4369,...,5175,4817,4402,3361,2715,3044,2928,1237,71,0

----------------------------------------------------------------------------------------------------

,역명,날짜,구분,05~06,06~07,07~08,08~09,09~10,10~11,11~12,...,16~17,17~18,18~19,19~20,20~21,21~22,22~23,23~24,00~01,01~02
0,서울역(150),2016-11-01,승차,476,578,1846,3602,2562,2281,2846,...,3844,4968,9447,5290,3746,3686,2216,1256,172,1

----------------------------------------------------------------------------------------------------

,역명,날짜,구분,05~06시,06~07시,07~08시,08~09시,09~10시,10~11시,11~12시,...,16~17시,17~18시,18~19시,19~20시,20~21시,21~22시,22~23시,23~24시,00~01시,01~02시
0,서울역(150),2016-12-01,승차,411,552,1792,3429,2737,2430,3161,...,4145,4984,9595,5217,3492,3978,2742,1380,198,0

----------------------------------------------------------------------------------------------------

In [176]:
subway_df1= pd.concat(subway_total[:5])
sub_df1_1 = subway_df1.drop(['할인','호선'], axis=1).groupby(['날짜', '역명', '구 분'], 
                                     as_index=False).sum()
sub_df1_1.columns = sub_df1_1.columns.str.replace(" ", "").tolist()
import re 
p = re.compile("(\([0-9]+\))")
sub_df1_1['역명'] = sub_df1_1.역명.apply(lambda x : re.sub(p,  "", x))
sub_df1_2 = sub_df1_1.groupby(['날짜', '역명', '구분'], as_index=False).sum()

In [177]:
subway_df2 = pd.concat(subway_total[5:-1])
subway_df2.drop("01~02", axis=1, inplace=True)
subway_df2['역명'] = subway_df2.역명.apply(lambda x : re.sub(p, "", x))
subway_df2_1 = subway_df2.groupby(['역명', '날짜', '구분'],as_index=False).sum()

sub_01_11 = pd.concat([sub_df1_2, subway_df2_1])

In [179]:
sub_01_11.query(" 역명 == '사당' and 날짜 == '2016-05-01'")
sub_01_11[(sub_01_11.역명 == "사당") & (sub_01_11.날짜 == '2016-05-01')]

subway_df3 = subway_total[-1]
subway_df3.columns = subway_df3.columns.str.replace("시", "")

subway_df3.drop('01~02', axis=1, inplace=True)
subway_df3.역명 = subway_df3.역명.apply(lambda x : re.sub(p, "", x))
subway_df3_1 = subway_df3.groupby(['역명', '날짜', '구분'], as_index=False).sum()

In [180]:
subway = pd.concat([sub_01_11,  subway_df3_1])

In [186]:
subway.columns

Index(['날짜', '역명', '구분', '04~05', '05~06', '06~07', '07~08', '08~09', '09~10',
       '10~11', '11~12', '12~13', '13~14', '14~15', '15~16', '16~17', '17~18',
       '18~19', '19~20', '20~21', '21~22', '22~23', '23~24', '00~01', '01~02',
       '02~03', '03~04'],
      dtype='object')

In [188]:
subway_melt = pd.melt(subway, id_vars=["날짜", "역명", "구분"])

In [192]:
sql = """CREATE TABLE subway(
    date_ DATE NOT NULL, 
    station VARCHAR(3) NOT NULL, 
    gubun CHAR(2) NOT NULL, 
    timeline CHAR(7) NOT NULL, 
    value INT(5) NOT NULL)"""

In [193]:
cur.execute(sql)

NameError: name 'cur' is not defined

# 내가 만든 코드

In [146]:
subway_df1= pd.concat(subway_total[:5])

In [147]:
subway_df1

,날짜,호선,역명,구 분,할인,04 ~ 05,05 ~ 06,06 ~ 07,07 ~ 08,08 ~ 09,...,18 ~ 19,19 ~ 20,20 ~ 21,21 ~ 22,22 ~ 23,23 ~ 24,00 ~ 01,01 ~ 02,02 ~ 03,03 ~ 04
0,2016-01-01,1호선,서울역(150),승차,일반,44,298,243,490,909,...,2520,2129,1924,2038,1766,868,52,0,0,0
1,2016-01-01,1호선,서울역(150),승차,초등생,1,4,0,4,18,...,70,38,37,45,32,6,0,0,0,0
2,2016-01-01,1호선,서울역(150),승차,청소년,8,33,15,16,54,...,139,106,111,128,89,44,1,0,0,0
3,2016-01-01,1호선,서울역(150),승차,대학생,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2016-01-01,1호선,서울역(150),승차,우대,11,70,78,65,151,...,284,219,168,138,138,50,4,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52981,2016-05-31,4호선,남태령(434),승차,우대,0,9,11,10,24,...,21,5,6,4,0,0,0,0,0,0
52982,2016-05-31,4호선,남태령(434),하차,일반,0,0,78,106,165,...,43,41,31,35,21,18,11,0,0,0
52983,2016-05-31,4호선,남태령(434),하차,초등생,0,0,0,14,0,...,0,0,0,0,0,0,0,0,0,0
52984,2016-05-31,4호선,남태령(434),하차,청소년,0,0,1,149,42,...,2,4,1,0,3,1,0,0,0,0
52985,2016-05-31,4호선,남태령(434),하차,우대,0,1,13,21,11,...,22,14,9,11,5,2,2,0,0,0

In [131]:
subway_df1.groupby(['날짜', '호선', '역명', '구 분']).sum()

                              구분  05~06  06~07  07~08  08~09  09~10  10~11  \
날짜         호선  역명         구 분
2016-01-01 1호선 동대문(155)   승차   0    0.0    0.0    0.0    0.0    0.0    0.0
                          하차   0    0.0    0.0    0.0    0.0    0.0    0.0
               동묘앞(159)   승차   0    0.0    0.0    0.0    0.0    0.0    0.0
                          하차   0    0.0    0.0    0.0    0.0    0.0    0.0
               서울역(150)   승차   0    0.0    0.0    0.0    0.0    0.0    0.0
...                           ..    ...    ...    ...    ...    ...    ...
2016-02-29 4호선 한성대입구(419) 하차   0    0.0    0.0    0.0    0.0    0.0    0.0
               혜화(420)    승차   0    0.0    0.0    0.0    0.0    0.0    0.0
                          하차   0    0.0    0.0    0.0    0.0    0.0    0.0
               회현(425)    승차   0    0.0    0.0    0.0    0.0    0.0    0.0
                          하차   0    0.0    0.0    0.0    0.0    0.0    0.0

                               11~12  12~13  13~14  ...  18 ~ 19  19 ~ 20  \
날짜         호선  역명         구 분                       ...
2016-01-01 1호선 동대문(155)   승차     0.0    0.0    0.0  ...    625.0    614.0
                          하차     0.0    0.0    0.0  ...    869.0    827.0
               동묘앞(159)   승차     0.0    0.0    0.0  ...    404.0    198.0
                          하차     0.0    0.0    0.0  ...    231.0    165.0
               서울역(150)   승차     0.0    0.0    0.0  ...   3076.0   2519.0
...                              ...    ...    ...  ...      ...      ...
2016-02-29 4호선 한성대입구(419) 하차     0.0    0.0    0.0  ...   1526.0   1521.0
               혜화(420)    승차     0.0    0.0    0.0  ...   4919.0   3685.0
                          하차     0.0    0.0    0.0  ...   3414.0   3459.0
               회현(425)    승차     0.0    0.0    0.0  ...   4786.0   3074.0
                          하차     0.0    0.0    0.0  ...    869.0    628.0

                               20 ~ 21  21 ~ 22  22 ~ 23  23 ~ 24  00 ~ 01  \
날짜         호선  역명         구 분
2016-01-01 1호선 동대문(155)   승차     475.0    414.0    291.0    138.0      6.0
                          하차     660.0    614.0    471.0    348.0    122.0
               동묘앞(159)   승차     139.0    136.0     81.0     52.0      2.0
                          하차     149.0    146.0    176.0    144.0    106.0
               서울역(150)   승차    2281.0   2398.0   2056.0    996.0     58.0
...                                ...      ...      ...      ...      ...
2016-02-29 4호선 한성대입구(419) 하차    1056.0    875.0    832.0    577.0    406.0
               혜화(420)    승차    2838.0   3711.0   3866.0   1886.0    311.0
                          하차    1482.0   1038.0    902.0    556.0    288.0
               회현(425)    승차    2198.0   1300.0    854.0    516.0     66.0
                          하차     356.0    322.0    285.0    187.0     57.0

                               01 ~ 02  02 ~ 03  03 ~ 04
날짜         호선  역명         구 분
2016-01-01 1호선 동대문(155)   승차       0.0      0.0      0.0
                          하차       0.0      0.0      0.0
               동묘앞(159)   승차       0.0      0.0      0.0
                          하차       0.0      0.0      0.0
               서울역(150)   승차       0.0      0.0      0.0
...                                ...      ...      ...
2016-02-29 4호선 한성대입구(419) 하차       2.0      0.0      0.0
               혜화(420)    승차       0.0      0.0      0.0
                          하차       0.0      0.0      0.0
               회현(425)    승차       0.0      0.0      0.0
                          하차       5.0      0.0      0.0

[14280 rows x 47 columns]

In [132]:
del(sub_df1_1)

In [133]:
sub_df1_1 = subway_df1.drop('할인', axis=1).groupby(['날짜', '호선', '역명', '구 분'], as_index=False).sum()

In [134]:
sub_df1_1.columns = sub_df1_1.columns.str.replace(" ", "").tolist()

In [148]:
subway_df1= pd.concat(subway_total[:5])
sub_df1_1 = subway_df1.drop(['할인','호선'], axis=1).groupby(['날짜', '역명', '구 분'], 
                                     as_index=False).sum()
sub_df1_1.columns = sub_df1_1.columns.str.replace(" ", "").tolist()
import re 
p = re.compile("(\([0-9]+\))")
sub_df1_1['역명'] = sub_df1_1.역명.apply(lambda x : re.sub(p,  "", x))
sub_df1_2 = sub_df1_1.groupby(['날짜', '역명', '구분'], as_index=False).sum()

In [151]:
sub_df1_1.역명.apply(lambda x : re.sub(p,  "", x)).unique()

array(['가락시장', '강남', '강변', '건대입구', '경복궁', '경찰병원', '고속터미널', '교대',
       '구로디지털단지', '구의', '구파발', '금호', '길음', '낙성대', '남부터미널', '남태령', '노원',
       '녹번', '당고개', '당산', '대림', '대청', '대치', '도곡', '도림천', '독립문', '동대문',
       '동대문역사문화공원', '동대입구', '동묘앞', '동작', '뚝섬', '매봉', '명동', '무악재', '문래',
       '미아', '미아사거리', '방배', '봉천', '불광', '사당', '삼각지', '삼성', '상계', '상왕십리',
       '서울대입구', '서울역', '서초', '선릉', '성수', '성신여대입구', '수서', '수유(강북구청)',
       '숙대입구', '시청', '신답', '신당', '신대방', '신도림', '신림', '신사', '신설동', '신용산',
       '신정네거리', '신천', '신촌', '쌍문', '아현', '안국', '압구정', '약수', '양재', '양천구청',
       '역삼', '연신내', '영등포구청', '오금', '옥수', '왕십리(성동구청)', '용답', '용두', '을지로3가',
       '을지로4가', '을지로입구', '이대', '이촌', '일원', '잠실', '잠실나루', '잠원', '제기동',
       '종각', '종로3가', '종로5가', '종합운동장', '지축', '창동', '청량리(지하)', '총신대입구',
       '충무로', '충정로', '학여울', '한성대입구', '한양대', '합정', '혜화', '홍대입구', '홍제',
       '회현'], dtype=object)

In [86]:
sub_df1_1['역명'] = sub_df1_1.역명.apply(lambda x : re.sub(p,  "", x)).unique().size

In [87]:
sub_df1_1

,날짜,호선,역명,구분,구분,05~06,06~07,07~08,08~09,09~10,...,18~19,19~20,20~21,21~22,22~23,23~24,00~01,01~02,02~03,03~04
0,2016-01-01,1호선,110,승차,0,0.0,0.0,0.0,0.0,0.0,...,625.0,614.0,475.0,414.0,291.0,138.0,6.0,0.0,0.0,0.0
1,2016-01-01,1호선,110,하차,0,0.0,0.0,0.0,0.0,0.0,...,869.0,827.0,660.0,614.0,471.0,348.0,122.0,0.0,0.0,0.0
2,2016-01-01,1호선,110,승차,0,0.0,0.0,0.0,0.0,0.0,...,404.0,198.0,139.0,136.0,81.0,52.0,2.0,0.0,0.0,0.0
3,2016-01-01,1호선,110,하차,0,0.0,0.0,0.0,0.0,0.0,...,231.0,165.0,149.0,146.0,176.0,144.0,106.0,0.0,0.0,0.0
4,2016-01-01,1호선,110,승차,0,0.0,0.0,0.0,0.0,0.0,...,3076.0,2519.0,2281.0,2398.0,2056.0,996.0,58.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14275,2016-02-29,4호선,110,하차,0,0.0,0.0,0.0,0.0,0.0,...,1526.0,1521.0,1056.0,875.0,832.0,577.0,406.0,2.0,0.0,0.0
14276,2016-02-29,4호선,110,승차,0,0.0,0.0,0.0,0.0,0.0,...,4919.0,3685.0,2838.0,3711.0,3866.0,1886.0,311.0,0.0,0.0,0.0
14277,2016-02-29,4호선,110,하차,0,0.0,0.0,0.0,0.0,0.0,...,3414.0,3459.0,1482.0,1038.0,902.0,556.0,288.0,0.0,0.0,0.0
14278,2016-02-29,4호선,110,승차,0,0.0,0.0,0.0,0.0,0.0,...,4786.0,3074.0,2198.0,1300.0,854.0,516.0,66.0,0.0,0.0,0.0
14279,2016-02-29,4호선,110,하차,0,0.0,0.0,0.0,0.0,0.0,...,869.0,628.0,356.0,322.0,285.0,187.0,57.0,5.0,0.0,0.0

In [153]:
subway_df2 = pd.concat(subway_total[5:-1])

In [154]:
subway_df2.drop('01~02', axis=1, inplace=True)

In [155]:
# 교집합
len(set(sub_df1_2.columns) & set(subway_df2.columns))

23

In [157]:
subway_df2['역명'] = subway_df2.역명.apply(lambda x : re.sub(p, "", x))

In [158]:
subway_df2_1 = subway_df2.groupby(['역명', '날짜', '구분'],as_index=False).sum()

In [159]:
sub_01_11 = pd.concat([sub_df1_2, subway_df2_1])

In [160]:
subway_df2_1

,역명,날짜,구분,05~06,06~07,07~08,08~09,09~10,10~11,11~12,...,15~16,16~17,17~18,18~19,19~20,20~21,21~22,22~23,23~24,00~01
0,가락시장,2016-06-01,승차,119,358,1129,1146,783,588,508,...,491,555,680,1055,618,442,406,369,150,29
1,가락시장,2016-06-01,하차,24,245,495,1217,548,386,340,...,565,569,637,970,847,540,536,558,348,104
2,가락시장,2016-06-02,승차,106,363,1053,1124,772,525,552,...,462,539,658,1066,608,461,438,340,169,17
3,가락시장,2016-06-02,하차,18,221,447,1245,544,330,374,...,514,522,720,862,916,560,576,612,357,126
4,가락시장,2016-06-03,승차,110,383,1072,1124,754,561,546,...,535,531,699,1211,731,455,378,323,182,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40255,회현,2016-11-28,하차,55,1140,2783,7306,4414,2967,3356,...,1926,1330,1057,904,607,299,376,301,180,55
40256,회현,2016-11-29,승차,102,142,242,393,563,744,1194,...,2898,3188,4267,5943,3046,2357,1620,860,322,61
40257,회현,2016-11-29,하차,42,1186,2607,7354,4522,3216,3509,...,1820,1297,1101,954,549,340,331,353,169,60
40258,회현,2016-11-30,승차,114,159,239,361,500,792,1243,...,2769,3525,4973,6277,3058,2351,1750,1185,423,73
40259,회현,2016-11-30,하차,39,1142,2666,7366,4567,3104,3340,...,1852,1439,1170,1077,688,326,409,330,182,88

In [162]:
sub_01_11[(sub_01_11.역명 == '사당') & (sub_01_11.날짜 == '2016-05-01')]

,날짜,역명,구분,04~05,05~06,06~07,07~08,08~09,09~10,10~11,...,18~19,19~20,20~21,21~22,22~23,23~24,00~01,01~02,02~03,03~04
26702,2016-05-01,사당,승차,3.0,495,822,1254,2149,2996,3204,...,3173,3150,3257,3633,2895,1200,0,0.0,0.0,0.0
26703,2016-05-01,사당,하차,0.0,109,2096,1669,1421,2489,2434,...,4751,3839,3316,3461,2731,2090,215,0.0,0.0,0.0

In [163]:
sub_01_11.query("역명 == '사당' and 날짜 == '2016-05-01'")

,날짜,역명,구분,04~05,05~06,06~07,07~08,08~09,09~10,10~11,...,18~19,19~20,20~21,21~22,22~23,23~24,00~01,01~02,02~03,03~04
26702,2016-05-01,사당,승차,3.0,495,822,1254,2149,2996,3204,...,3173,3150,3257,3633,2895,1200,0,0.0,0.0,0.0
26703,2016-05-01,사당,하차,0.0,109,2096,1669,1421,2489,2434,...,4751,3839,3316,3461,2731,2090,215,0.0,0.0,0.0

In [165]:
subway_df3 = subway_total[-1]

In [168]:
subway_df3.columns = subway_df3.columns.str.replace("시", "")

In [170]:
subway_df3.columns

Index(['역명', '날짜', '구분', '05~06', '06~07', '07~08', '08~09', '09~10', '10~11',
       '11~12', '12~13', '13~14', '14~15', '15~16', '16~17', '17~18', '18~19',
       '19~20', '20~21', '21~22', '22~23', '23~24', '00~01', '01~02'],
      dtype='object')

In [169]:
subway_df3.drop('01~02', axis=1, inplace=True)

KeyError: "['01~02'] not found in axis"

In [ ]:
subway_df3.역명 = subway_df3.역명.apply(lambda x : re.sub(p, "", x))

In [ ]:
subway_df3_1 = subway_df3.groupby(['역명', '날짜', '구분'], as_index=False).sum()

In [ ]:
# subway_df3 = subway_total[-1]
# subway_df3.columns = subway_df3.columns.str.replace("시", "")

# subway_df3.drop('01~02', axis=1, inplace=True)
# subway_df3.역명 = subway_df3.역명.apply(lambda x : re.sub(p, "", x))
# subway_df3_1 = subway_df3.groupby(['역명', '날짜', '구분'], as_index=False).sum()