<a href="https://colab.research.google.com/github/castelwoah/PlayData/blob/main/workspace/week1/20240405_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.4 MB)
     |████████████████████████████████| 12.4 MB 1.8 MB/s eta 0:00:01
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.8/dist-packages (from pandas) (2024.1)
Collecting numpy>=1.20.3; python_version < "3.10"
  Downloading numpy-1.24.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     |████████████████████████████████| 17.3 MB 11.8 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.9.0.post0)
Collecting tzdata>=2022.1
  Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
     |████████████████████████████████| 345 kB 19.3 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.14.0)
Installing collected packages: numpy, tzdata, pandas
Successfully installed numpy-1.24.4 pandas-2.0.3 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
import os
import pandas as pd

In [5]:
count = 0
for roots, dirs, files in os.walk("/root/data"):
    for file in files:
        # open("./file.txt", "w", encoding="utf-8")
        print((f"{roots}/{file}\n"))
        print(type(files))
        print(type(file), file)
        print(file.split('_')[2][0])
        count += 1
        break

# f.close()
# kdf['신장'] = kdf['신장/체중'].apply(lambda x : int(x.split("/")[0].replace("cm", '')))

/root/data/강주헌_19601129_1xxxxxx.txt

<class 'list'>
<class 'str'> 강주헌_19601129_1xxxxxx.txt
1

# 2. 남여 구분

In [39]:
mail_loc = []
for roots, dirs, files in os.walk("/root/mail"):
        for file in files:
            mail_loc.append(f"{roots}/{file}")

In [40]:
len(mail_loc)

4993

In [41]:
# 파일읽기
# maildata 리스트에 어팬드
# readline_test.py
maildata = []
for i in range(len(files)):
    f = open(mail_loc[i], 'r')
    line = f.readline()
    if not line: break
    maildata.append(line)
    f.close()

In [42]:
for i, x in enumerate(maildata):
    maildata[i] = x.replace(',', '')

In [43]:
len(maildata)

4993

In [44]:
femail_loc = []
for roots, dirs, files in os.walk("/root/femail"):
        for file in files:
            femail_loc.append(f"{roots}/{file}")

In [45]:
# 파일읽기
# femaildata 리스트에 어팬드
# readline_test.py
femaildata = []
for i in range(len(files)):
    f = open(femail_loc[i], 'r')
    line = f.readline()
    if not line: break
    femaildata.append(line)
    f.close()

# 콤마 제거
for i, x in enumerate(femaildata):
    femaildata[i] = x.replace(',', '')

In [47]:
len(femaildata)

5007

# 1. 파일이동

In [ ]:
import shutil
import os
# import re
# p = re.compile("[0-9]+")
if not os.path.isdir("/root/mail"):
    os.mkdir("/root/mail")
if not os.path.isdir("/root/femail"):
    os.mkdir("/root/femail")

for roots, dirs, files in os.walk("/root/data"):
    for file in files:
        if int(file.split('_')[2][0])%2 == 1:
            shutil.move(f"{roots}/{file}", "/root/mail")
        elif int(file.split('_')[2][0])%2 == 0:
            shutil.move(f"{roots}/{file}", "/root/femail")

In [ ]:
import os
os.getcwd()

'/root/PlayData-1/workspace/week1'

# 3. 데이터프레임 구성

In [48]:
# mail dataframe 구축
maildf = pd.DataFrame({"mail": mail_loc, "data": maildata})
maildf

# 원본 maildf

                                     mail      data
0     /root/mail/강주헌_19601129_1xxxxxx.txt  23472543
1     /root/mail/문현설_19600509_3xxxxxx.txt      1467
2     /root/mail/강채빈_19900809_3xxxxxx.txt     25709
3     /root/mail/강민상_19921215_1xxxxxx.txt     79182
4     /root/mail/송지혁_19960717_3xxxxxx.txt     56584
...                                   ...       ...
4988  /root/mail/황세완_19620527_1xxxxxx.txt    715468
4989  /root/mail/안해연_19900303_3xxxxxx.txt  41289635
4990  /root/mail/이보민_19660126_3xxxxxx.txt    345871
4991  /root/mail/배원일_19800806_3xxxxxx.txt      7490
4992  /root/mail/허재환_19940306_1xxxxxx.txt   9618958

[4993 rows x 2 columns]

In [49]:
# femail dataframe 구축
femaildf = pd.DataFrame({"femail": femail_loc, "data": femaildata})
femaildf

# 원본 femaildf

                                     femail      data
0     /root/femail/배신화_19691226_4xxxxxx.txt      7682
1     /root/femail/고다완_19770224_2xxxxxx.txt  99911654
2     /root/femail/배종성_19621228_4xxxxxx.txt  99779180
3     /root/femail/장지아_19950525_4xxxxxx.txt    842901
4     /root/femail/이제헌_19730206_4xxxxxx.txt  47232018
...                                     ...       ...
5002  /root/femail/정채민_19681106_2xxxxxx.txt      8865
5003  /root/femail/임지은_19980521_4xxxxxx.txt      8899
5004  /root/femail/임범세_19981103_4xxxxxx.txt      8598
5005  /root/femail/고은한_19731011_4xxxxxx.txt  91745789
5006  /root/femail/정나현_19600725_4xxxxxx.txt      4996

[5007 rows x 2 columns]

In [51]:
# 복사본
femaildf1 = femaildf
maildf1 = maildf

In [52]:
totaldf = pd.concat([maildf1, femaildf1], axis = 1)
totaldf

,mail,data,femail,data
0,/root/mail/강주헌_19601129_1xxxxxx.txt,23472543,/root/femail/배신화_19691226_4xxxxxx.txt,7682
1,/root/mail/문현설_19600509_3xxxxxx.txt,1467,/root/femail/고다완_19770224_2xxxxxx.txt,99911654
2,/root/mail/강채빈_19900809_3xxxxxx.txt,25709,/root/femail/배종성_19621228_4xxxxxx.txt,99779180
3,/root/mail/강민상_19921215_1xxxxxx.txt,79182,/root/femail/장지아_19950525_4xxxxxx.txt,842901
4,/root/mail/송지혁_19960717_3xxxxxx.txt,56584,/root/femail/이제헌_19730206_4xxxxxx.txt,47232018
...,...,...,...,...
5002,NaN,NaN,/root/femail/정채민_19681106_2xxxxxx.txt,8865
5003,NaN,NaN,/root/femail/임지은_19980521_4xxxxxx.txt,8899
5004,NaN,NaN,/root/femail/임범세_19981103_4xxxxxx.txt,8598
5005,NaN,NaN,/root/femail/고은한_19731011_4xxxxxx.txt,91745789
5006,NaN,NaN,/root/femail/정나현_19600725_4xxxxxx.txt,4996